* {
  box-sizing: border-box;
  font-family: "Basic Commercial",sans-serif
}
tml,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
button {
  border: none;
  background: none;
  cursor: pointer;
  margin: 0;
  padding: 0;
  color: white;
  font-size: 15px;
}
img {
  height: auto;
  width: 100%;
  position: relative;
}
.single_item {
  position: relative;
  height: fit-content;
  z-index: 1;
  button {
    border: none;
    background: none;
    cursor: pointer;
    margin: 0;
    padding: 0;
  }
}

/* .slick-slide img{
.mobile-image  {
display:block;
}
.mobile-image  {
display:none;
}

@media (max-width: 600px) {
.mobile-image  {
display:none;
}
.desktop-image  {
display:block;
}

}

}
*/

.next-arrow {
  position: absolute;
  top: 50%;
  left: 95%;
}
.slick-prev {
  position: absolute;
  left: 5%;
  z-index: 1;
  top: 50%;
  content: "<";
  ::before {
    content: "<";
    z-index: 9;
  }
  &:before {
    content: "<";
  }
}

.slick-next {
  position: absolute;
  left: 95%;
  top: 50%;
  &:before {
    content: ">";
  }
  ::before {
    color: red;
    font-size: 30px;
  }
}

.slick-dots {
  position: absolute;
  display: flex;
  justify-content: center;
  z-index: 10;
  right: 2%;
  top: 70%;
  li {
    margin: 0 5px;
    button {
      height: 8px;
      width: 8px;
      border-radius: 50%;
      font-size: 0;
      opacity: 0.5;
      background: gray;
      &:hover {
        height: 8px;
        width: 8px;
        background: #333;
        padding: 0 -5px;
        border: none;
      }
    }
    &.slick-active {
      button {
        background: #e3c331;
        transform: scale(1.5);
        border: none;
      }
    }
  }
}

.blur-up {
  -webkit-filter: blur(4px);
  filter: blur(4px);
}
.blur-up.lazyloaded {
  -webkit-filter: blur(0px);
  filter: blur(0px);
}

.lazyloaded {
  width: 100%;
  height: auto;
}

.lazyload {
  width: 100%;
  height: auto;
  z-index: 1;
}

/* manual input */
/* working */

.heading {
  position: absolute;
  max-width: 400px;
  h1 {
    font-size: 40px;
  }
  p {
    font-size: 20px;
    margin-bottom: 25px;
  }
}

.center {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.right {
  right: 10%;
}
.left {
  left: 10%;
}
.top {
  top: 10%;
}
.bottom {
  bottom: 10%;
}
.middle {
  left: 50%;
  right: 50%;
}
.v-middle {
  top: 50%;
}

.slick-track {
  position: relative;
}
.mobile_slider {
  position: relative;
}

.overlay img {
  opacity: 70%;
}

.homePageSliderButton {
  text-decoration: none;
  position: relative;
  margin-top: 5px auto;
  padding: 10px;
  border-radius: 15px;
}

/* rest */
.show_overlay {
  opacity: 80%;
}

/* collection oage style */

.product img {
  max-width: 100%;
  /*   display: inline-block; */
}

.collection-item ul {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 5% 10%;
}
body {
  background: rgba(0, 0, 0, 0.033);
}
.product {
  

  .product-image img {
    margin: 0;
    padding-bottom: 10%;
    width: 300px;
    height: 200px;
  }
  .product_title {
    font-size: 20px;
    float: left;
    bottom: 0;
    padding: 2%;
  }
  .product_price {
    font-size: 20px;
    float: right;
    font-weight: bold;
    bottom: 0%;
    padding: 2%;
  }
}

.my-image {
  width: 100px;
  margin: 10px 0px 0px 299px;
}
/*  Product Page  */

.product-title {
  position: absolute;
  left: 20%;
  top: 5%;
}

.item {
  display: flex;
  margin: 5% 20%;
}

.item-image {
  flex: 1;
  border: 2px solid black;
  img {
    width: 58.3%;
  }
}
.product-details {
  .item_title {
    font-size: 30px;
  }
  .item_price {
    font-size: 20px;
    font-weight: bold;
  }
}

/* popup */

#target {
  display: none;
  padding: 20px;
  background-color: white;
  form {
    width: 100px;
    padding: 20px 0;
    margin: 0;
    opacity: 100%;
  }

  /* 	button {
  color: #FFF;
  background-color: #273896;
  border: 0;
  padding: 10px;
  margin: 20px auto 0;
  width: 100%;
  &:hover {
  background-color: #1a35508c;
}
} */
  h5 {
    text-decoration: underline;
    position: relative;
    a {
      color: black;
      width: 100%;

      &:hover {
        color: black;
        cursor: pointer;
      }
    }
  }
  .noShowText {
    float: right;
    &:hover {
      color: black;
      cursor: pointer;
    }
  }
  .input-error-message {
    color: red;
    font-weight: bold;
    font-size: 20px;
  }
  .form-message {
    color: blue;
  }
}

/* ----------------------------------------- */
.fancybox-inner {
  width: 100% !important;
  height: auto !important;
}

body {
  padding: 0;
  margin: 0;
  background: white;
  background-size: cover;
  -webkit-font-smoothing: antialiased !important;
}
.subscriptionbox {
  width: 250px;
  padding: 20px 35px;
  margin: 20px auto;
  background: #fff;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  color: #666;
  font: 400 13px "open sans", sans-serif;
  line-height: 20px !important;
  h2 {
    font: 400 30px "varela round", sans-serif;
    color: #333;
    text-align: center;
    text-transform: uppercase;
    padding: 10px 0;
    margin-bottom: 10px;
    border-bottom: 1px solid #666;
  }
  .betextarea {
    background: #222;
    background-size: 20px;
    border: none;
    background-position: 20px 20px;
    height: 10px;
    width: 230px;
    padding: 20px 10px;
    color: #fff;
    text-indent: 40px;
    outline: none;
    margin-top: 10px;
  }
}
.besubmit {
  padding: 0;
  height: 40px;
  line-height: 40px !important;
  width: 250px;
  text-align: center;
  font: 400 15px "open sans", sans-serif;
  background: #e74c3c;
  color: #fff;
  border: none;
  display: block;
  text-transform: uppercase;
  margin-top: 5px;
  border-radius: 5px;
  cursor: pointer;
  position: relative;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  &:hover {
    background: #c0392b;
  }
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 50px;
  h1 {
    font-size: 30px;
    color: red;
    margin-bottom: 30px;
    display: block;
  }

  .form-component lable {
    display: block;
    color: black;
    margin-bottom: 10px;
    font-weight: bold;
  }
  .form-component input {
    border: 1px solid #bbb;
    padding: 10px 20px;
    margin-bottom: 10px;
    outline: none;
  }
  .submit {
    padding: 16px 80px;
    font-size: 20px;
    color: white;
    background-color: green;
    font-weight: bolder;
    border-radius: 5px;
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
  }
  .result {
    font-size: 30px;
    margin-top: 20px;
  }
}

.calculator {
  padding: 20px;
  width: 500px;
  margin: 4% auto;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 1.8rem;
}
.grid-two {
  justify-content: center;
  align-items: center;
  display: grid;

  grid-template-columns: repeat(2, 1fr);
  gap: 50px;
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translateX(-50%);
  width: 50%;
}
.grid-three {
  justify-content: center;
  align-items: center;
  display: grid;

  grid-template-columns: repeat(3, 1fr);
  gap: 50px;
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translateX(-50%);
  width: 50%;
}
.grid-four {
  justify-content: center;
  align-items: center;
  display: grid;

  grid-template-columns: repeat(4, 1fr);
  gap: 50px;
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translateX(-50%);
  width: 50%;
}
.grid-five {
  justify-content: center;
  align-items: center;
  display: grid;

  grid-template-columns: repeat(5, 1fr);
  gap: 50px;
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translateX(-50%);
  width: 50%;
}

.myproduct {
  border: none;
  padding: 20px;
  width: 300px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  text-align: center;
  overflow: hidden;
  border-radius: 10px;
}

.myproduct img {
  width: 200px;
  height: 200px;
  transition: transform 1s, filter 3s ease-in-out;
}
.myproduct:hover img {
  transform: scale(1.1);
}
.myproduct-detail {
  display: flex;
  justify-content: space-between;
  padding: 10px;
}
.input {
  border: 1px solid black;
  border-radius: 1px;
  height: 60px;
  width: 386px;
  padding-right: 15px;
  padding-top: 10px;
  text-align: right;
  font-size: 2.5rem;
  overflow-x: auto;
  transition: all 0.2s ease-in-out;
  color: white;
  background-color: black;
  margin-left: -12px;
}

.input:hover {
  border: 1px solid #cccccc;
  -webkit-box-shadow: inset 0px 1px 4px 0px rgba(0, 0, 0, 0.2);
  box-shadow: inset 0px 1px 4px 0px rgba(0, 0, 0, 0.2);
}

.operators div {
  display: inline-block;
  border: 1px solid black;
  border-radius: 1px;
  width: 80px;
  text-align: center;
  padding: 11px;
  margin-top: 20px;
  cursor: pointer;
  background-color: #cccccc;
  margin-left: -12px;
  margin-bottom: -10px;
}

.leftPanel {
  display: inline-block;
}

.numbers div {
  display: inline-block;
  border: 1px solid black;
  border-radius: 1px;
  width: 80px;
  text-align: center;
  padding: 10px;
  margin: 10px 4px 10px 0;
  cursor: pointer;
  background-color: #cccccc;
  margin-left: -12px;
  margin-bottom: -10px;
}

div.equal {
  border: 1px solid black;
  display: inline-block;
  border: 1px solid #ff9500;
  border-radius: 1px;
  width: 13.5%;
  text-align: center;
  padding: 85px 14px;
  margin: 10px 0px 0px -12px;
  vertical-align: top;
  cursor: pointer;
  color: #fff;
  background-color: #ff9500;
  transition: all 0.2s ease-in-out;
}

/* Slider scss */
.blur-up {
  -webkit-filter: blur(5px);
  filter: blur(5px);
  transition: filter 400ms, -webkit-filter 400ms;
}

.blur-up.lazyloaded {
  -webkit-filter: blur(0);
  filter: blur(0);
}
.lazyload,
.lazyloading {
  opacity: 0;
  background: black;
}
.lazyloaded {
  opacity: 1;
  transition: opacity 300ms;
}

.cart-page {
  font-family: Cabin, Helvetica, sans-serif;

  svg {
    width: 60px;
    fill: red;
    cursor: pointer;
    stroke-width: 1px;
    &.right-arrow {
      transform: rotate(180deg);
    }
  }
  .animated {
    transition: all 0.5s ease;
  }
  .slider [data-animation-in] {
    opacity: 0;
    animation-duration: 1.5s;
    transition: opacity 0.5s ease 0.3s;
    transition: 1s;
  }
  .hero-slider {
    position: relative;
  }
  .hero-slider img {
    height: 324px;
  }
  .slick-slide {
    margin: 0 5px;
  }

  .contentr {
    margin-left: 2rem;

    padding: 2rem;
  }
  .div-center {
    position: absolute;
    /* z-index: 99; */
    top: 50%;
    margin-left: 3%;
    transform: translateY(-50%);

    /* max-width: 550px; */
    width: 100%;
    padding: 2rem;
  }
  h1 {
    padding: 10px;
    font-size: 30px;
    margin: 20px;
  }
  .div-center h2 {
    color: red;
    font-size: 40px;
    text-transform: capitalize;
  }
  .div-center a {
    background-color: #351c75;
    width: 100px;
    padding: 16px 32px;
    color: white;
    border-radius: 5px;
    border: none;
    font-weight: bold;
    text-decoration: none;
    letter-spacing: 1px;
    position: absolute;
    margin: 10px;
  }
  .contentr h2 {
    color: red;
    font-size: 40px;
    text-transform: capitalize;
  }
  .contentr a {
    background-color: #351c75;
    width: 100px;
    padding: 16px 32px;
    color: white;
    border-radius: 5px;
    border: none;
    font-weight: bold;
    text-decoration: none;
    letter-spacing: 1px;
    position: absolute;
    margin: 10px;
  }

  .prev {
    position: absolute;
    top: 50%;
    list-style: none;
    left: 0;
    color: red;
    font-size: 35px;
    font-weight: bold;
    transform: translateY(-50%);
  }
  .next {
    transform: translateY(-50%);
    position: absolute;
    top: 50%;
    list-style: none;
    right: 0;
    color: red;
    font-size: 35px;
  }

  [data-animation-in] {
    opacity: 0;
  }

  img.lazy {
    width: 700px;
    height: 467px;
    display: block;
  }
}
/*

   Styles for animated modal
   =========================

*/

/* Start state */
.animated-modal {
  max-width: 550px;
  border-radius: 4px;
  overflow: hidden;

  transform: translateY(-50px);
  transition: all 0.7s;
}

.animated-modal h2,
.animated-modal p {
  transform: translateY(-50px);
  opacity: 0;

  transition-property: transform, opacity;
  transition-duration: 0.4s;
}

/* Final state */
.fancybox-slide--current .animated-modal,
.fancybox-slide--current .animated-modal h2,
.fancybox-slide--current .animated-modal p {
  transform: translateY(0);
  opacity: 1;
}

/* Reveal content with different delays */
.fancybox-slide--current .animated-modal h2 {
  transition-delay: 0.1s;
}

.fancybox-slide--current .animated-modal p {
  transition-delay: 0.3s;
}
.welcome-popup-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  display: none;
  border-radius: 10px;
}
.popup-heading {
  margin: 15px;
}
.popup-heading h1 {
  color: #000;
  letter-spacing: 1px;
  text-transform: uppercase;
  text-align: center;
  font-size: 40px;
}
.popup-content {
  width: 400px;
  text-align: center;
  padding: 10px;
  color: #5f5f5d;
}
.popup-content p {
  line-height: 1.5;
}
.popup-input {
  width: 400px;
  text-align: center;
  margin: 20px 0px 20px 0px;
}
.popup-input input {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid rgb(87, 87, 87);
  background-color: transparent;
}
.popup-input input:focus {
  outline: none;
}
.popup-button a {
  display: block;
  padding: 16px 32px;
  font-size: 20px;
  background-color: black;
  outline: 0;
  border: none;
  border-radius: 5px;
  border: 10px;
  color: #fff;
  text-transform: uppercase;
  text-align: center;
  font-size: 20px;
  letter-spacing: 1px;
}
.fancybox-close-small {
  background: 0 0;
  border: 1px solid black;
  border-radius: 50%;
  color: #ccc;
  cursor: pointer;
  opacity: 0.8;
  padding: 8px;
  position: absolute;
  right: -12px;
  top: -44px;
  z-index: 401;
  /* padding: 31px; */
  margin: 10px;
}
.success-message {
  color: #155724;
  background-color: #d4edda;
  border-color: #51795a;
  padding: 10px 10px;
  text-align: center;
  border-radius: 5px;
  border: 1px solid #155724;
}

@media only screen and (max-width: 600px) {
  body {
    background-color: lightblue;
  }
  .main {
    width: 400px;
  }

  .prev {
    left: -17px;

    font-size: 20px;
  }
  .next {
    right: -17px;

    font-size: 20px;
  }
  .contentr {
    top: 5%;
    padding: 1rem;
  }
  .contentr h2 {
    font-size: 20px;
  }
  .contentr a {
    width: 100px;
    padding: 8px 16px;
  }
  .popup-content {
    width: 200px;
  }
  .popup-input {
    width: 200px;
  }
}
.simply-grid-wrapper {
  width: 100%;
  position: relative;

  .product {
   

    img {
      transition: transform 0.5s ease;
    }
    .img:hover {
      transform: scale(1.5);
    }
    .product-detail {
      padding: 20px;
      .product-heading p {
        text-align: center;
        font-size: 20px;
        font-weight: bold;
        margin-bottom: 5px;
        font-weight: 700;
        text-transform: uppercase;
        font-family: Roboto, sans-seri;
        margin-bottom: 20px;
      }
      .product-discription {
        height: 115px;
        margin-top: 5px;
        margin-bottom: 20px;
      }
      .product-discription ul li {
        text-align: center;
        color: rgb(66, 64, 64);

        text-align: center;
        line-height: 1.3;
        font-size: 15px;
      }
      .product-prixe p {
        margin-top: 15px;
        margin-bottom: 10px;
        text-align: center;
        font-size: 15px;
        font-weight: bold;
        margin-bottom: 5px;
        font-weight: 700;
        text-transform: uppercase;
        font-family: Roboto;
        margin-bottom: 15px;
      }
      .add-to {
        text-align: center;
      }
      .add-to input {
        cursor: pointer;
        background: #b12929;
        color: white;
        padding: 15px 30px;
        border: none;
        border-radius: 5px;
        text-transform: uppercase;
        font-size: 15px;
        font-weight: bold;
        display: inline-block;
        width: 100%;
        transition: all 0.5s linear;
      }
      .add-to input:hover {
        background: #bb0b0b;
        color: white;
      }
    }
  }
}
.slick-initialized .slick-slide {
  display: block;
  margin: 0 10px;
}
.slick-list {
  margin: 0px -10px 0px -10px;
}
.displaysplider {
  right: 0px;
}
.cart-side-bar {
  position: fixed;
  width: 400px;
  border: 1px solid #ddd;
  top: 0;
  right: -400px;
  bottom: 0;
  z-index: 102;
  background-color: #eeeeee;
  transition: 0.3s all ease-in-out;
  z-index: 9999;
  &.active {
    right: 0;
  }
  .side-bar-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #fff;
    h3 {
      font-weight: bold;
      height: 70px;
      line-height: 70px;
      margin: 0;
      padding: 0 15px;
      text-align: left;
      font-size: 13px;
      color: #999;
      text-transform: uppercase;
    }
    span {
      text-align: left;
      color: black;
      cursor: pointer;
      margin-right: 10px;
    }
  }
  .side-bar-body {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    padding: 10px;
    border-bottom: 1px solid #ddd;

    .cart-product-detail {
      width: 150px;
      display: block;
      margin-right: 15px;
      .cart-product-price {
        font-weight: 600;
        color: #464646;
        font-size: 14px;
        float: right;
      }
    }
    .center-wrapper {
      display: flex;
      flex-direction: column;
      .cart-title {
        font-weight: 500;
        color: #464646;
        font-size: 14px;
      }
    }
    .cart-product-image {
      width: 170px;
      img {
        width: 70px;
        margin: 10px;
      }
    }
    .cart-product-quality {
      width: 190px;
      margin: 5px 0;
      p {
        font-weight: 700;
        color: rgb(70, 70, 70);
        font-size: 15px;
        margin-bottom: 12px;
      }
    }
  }
}
.minus,
.plus,
.quality {
  float: left;
  width: 30px;
  height: 40px;
  text-align: center;
  border: 1px solid #ddd;
  /* border-radius: 5px; */
  line-height: 40px;
  padding: 0;
  font-weight: 700;
  cursor: pointer;
}
.product-slider-wrapper {
  box-sizing: border-box;
}
.cart-data {
  position: absolute;
  bottom: 100px;
  left: 0;
  right: 0;
  top: 70px;
  overflow-y: auto;
  background: #eee;
  // padding: 15px 30px;
  height: calc(100% - 70px - 130px);
}
.remove-cart a {
  text-decoration: none;
  font-weight: 500;
  color: #464646;
  font-size: 14px;
  cursor: pointer;
}
.remove-cart a:hover {
  color: rgb(247, 22, 22);
}
.cart-footer {
  height: 130px;
  position: absolute;
  bottom: 0;
  left: 0;

  background: #fff;
  right: 0;

  .footer-data {
    display: flex;
    justify-content: space-between;
    align-items: center;

    font-weight: 800;
    height: 70px;
    line-height: 70px;
    padding: 0px 15px;
    text-align: left;
    font-size: 14px;
    color: #999;
    text-transform: uppercase;
  }
  .check-out-button a {
    padding: 22px 42px;
    background-color: #2f4676;
    color: #fff;
    display: block;
    text-align: center;
    font-weight: 700;
  }
}
* {
     margin: 0;
     padding: 0;
     box-sizing: border-box;
    }
    
    /* main wrapper start */
    .main-wrapper {
     background-color: #ffff;
     display: flex;
     align-items: center;
     flex-direction: column;
    }
    
    /* main wrapper end */
    
    /* top header start */
    .top-header {
     background-color: #20211a;
     width: 100%;
    }
    
    .top-header .top-header-text p {
      color: #ffff;
      text-align: center;
      padding: 15px 15px;
      font-size: 13px;
      font-weight: 600;
    }
    .multi-currency{
      position: relative;
    right: 40px;
    select{
      border: none;
      padding-right: -9px;
      /* margin-bottom: 0; */
      background-position: right;
      background: transparent;
      outline: none;
      font-size: 15px;
      font-weight: 700;
    
    
    }

    }
    /* top header end */
    /* top navigation start */
    .top-navigation-wrapper {
     width: 100%;
     position: relative;

     &.sticky {
      position: fixed;
      top: 0;
      width: 100%;
      height: 60px;
      z-index: 99999;
      background-color: #fff;
    }
    }
    
    .navigation {
      display: flex;
      /* justify-content: space-around; */
      align-items: center;
  
      max-width: 1500px;
      margin: 0 auto;
    }
    
    .navigation .navigation-logo {
     width: 20%;
     img{
      height: auto;
    width: 150px;
     
     
     }
    }
    
    .navigation .navigation-menu {
     width: 60%;
     
    }
    .navigation .navigation-menu  nav{
      text-align: center;
    }
    .navigation .navigation-menu nav ul {
     list-style: none;
    }
    
    .navigation .navigation-menu nav ul li {
      display: inline-block;
      text-align: center;
      margin-right: 50px;
      text-transform: uppercase;
      font-weight: 700;
      font-size: 15px;
      padding: 0px;
    }
    .navigation .navigation-menu nav ul li  a{
      text-transform: uppercase;
      font-weight: bold;
      font-size: 15px;
      color: black;
      text-decoration: none;
    }
    .navigation-icon {
     width: 20%;
    }
  
    .navigation-icon nav ul {
      list-style: none;
      display: flex;
      justify-content: space-evenly;
    }
    
    .navigation-icon nav ul li {
     width: 15px;
     font-size: 15px;
     font-weight: bold;
     text-transform: uppercase;
    }
    
    /* top navigation end */
    .mega-menu{
  
      display: none;
      position: absolute;
      /* background-color: #faf5f5; */
      width: 100%;
      left: 0;
      z-index: 1;
      top: 100%;
      padding: 0;
    }
   
    /* Create three equal columns that floats next to each other */
.column {
  background-color: #fffdfd;
width: 33.33%;
height: auto;
}
.column h3{
  padding: 10px 10px;
}

.column a {

  color: black;

  text-decoration: none;
  display: block;
  padding: 10px 10px;

}

.column a:hover {
  background-color: #ddd;
}

/* Clear floats after the columns */
.row{
display: flex;
width: 100%;
justify-content: space-around;
}
.dropdown a{
  position: relative;
  display: block;
}
.dropdown {
display: block;
}

.grandchild{
  font-size: 12px;
  color: red;
  text-decoration: none;
}
.dropdown:hover .mega-menu{
  display: block;
}