{% layout none %}
<div class="cart-data">
  {% for item in cart.items %}
          <div class="side-bar-body">
          
            <div class="cart-product-image">
              <img src={{item | img_url}} alt="product-image"/>
            </div>
            <div class="center-wrapper">
          
              <div class="cart-title">
                <p>{{item.product.title}}</p>
           </div>
              <div class="cart-product-quality">
                
            
                  
          <!-- <input type="text" value="1" class="quality" name="quantity[]" id="updates_{{ item.key }}"/> -->
          
            <span class="minus" id="minus" data-key="{{ item.variant_id}}" data-index="{{ forloop.index }}"  data-quantity="{{ item.quantity }}"> -</span>
            <input type="text" name="updates[]" id="updates_{{ item.key }}" class="quality" value="{{ item.quantity }}" min="0" data-id="{{ item.key }}">
            <span class="plus" data-key="{{ item.variant_id}}" data-index="{{ forloop.index }}"  data-quantity="{{ item.quantity }}">+</span>
          
          
              </div>
              <div class="remove-cart"><a  data-key="{{ item.variant_id}}" class="remove"> Remove</a></div>
            </div>
            <div class="cart-product-detail">
              
              <div class="cart-product-price">
                    <p>{{item.final_line_price | money}}</p>
              </div>
              
            </div>
          </div>
          {% endfor %}
         
</div>
<div class="cart-footer">
  <div class="footer-data">
      <div class="subtottal">subtotal</div>
      <div class="total-price">{{cart.total_price | money}}</div>
  </div>
  <div class="check-out-button"><a>Check-out</a></div>
</div>