<button id="click">click</button>
<div id="images">
</div>
<div id="info">
  <h1>Wild Ride Jacket</h1>
  <h3>Rs. 148</h3>
  <select>
    <option>S</option>
    <option>M</option>
    <option>L/option>
    <option>XL</option>
  </select>
</div>
<style>
  #images{
  float:left;
  }
  #info{
  float:right;
  margin-right:50px;
  margin-bottom:50px;
  }
</style>
