<div class="cart-page">
  <div class="slider  slider-for">
    <div class="hero-slider"><img src="https://raw.githubusercontent.com/solodev/featured-content-slider/master/images/image-1.jpg"  alt="learn slick slider task 7" width="100%"/>
      <div class="contentr" > 
        <h2 >this for image 1</h2>
        <a href="#" >Read more</a>
      </div>

    </div>
    <div class="hero-slider"><img src="https://raw.githubusercontent.com/solodev/featured-content-slider/master/images/image-2.jpg" alt="learn slick slider task 7" width="100%"/>
      <div class="contentr">
        <h2   >this for image 2</h2>
        <a href="#"  > Read more</a>
      </div>

    </div>
    <div class="hero-slider"><img src="https://raw.githubusercontent.com/solodev/featured-content-slider/master/images/image-3.jpg" alt="learn slick slider task 7" width="100%"/>
      <div class="div-center">
        <h2  data-animation-in="fadeIn" data-delay-in="0.1" data-animation-out="bounceOutUp">this for image 3</h2>
        <a href="#"  >Read more</a>
      </div>

    </div>
    <div class="hero-slider"><img src="https://raw.githubusercontent.com/solodev/featured-content-slider/master/images/image-4.jpg" alt="learn slick slider task 7" width="100%"/>
      <div class="contentr">
        <h2  data-animation-in="fadeIn" data-delay-in="2" data-animation-out="bounceOutUp">this for image 4</h2>
        <a href="#" >Read more</a>
      </div>

    </div>
    <div class="hero-slider"><img src="https://raw.githubusercontent.com/solodev/featured-content-slider/master/images/image-5.jpg" alt="learn slick slider task 7" width="100%"/>
      <div class="contentr">
        <h2 >this for image 5</h2>
        <a href="#"  >Read more</a>
      </div>

    </div>
  </div>
  <ul>
    <li class="prev">{% render 'left-arrow',class:'left-arrow' %}</li>
    <li class="next">{% render 'left-arrow',class:'right-arrow' %}</li>
  </ul>
</div>
