<div class="cart-page">
  <div class="slider  slider-for">
{% for i in (1..5) %}
    {% assign slides = 'hero_slider_image' | append: i %}
    {% assign index =  i %}
    <div class="hero-slider"><img src="{{ settings[slides] | img_url:'master'}}" alt="learn slick slider task 7" width="100%"/>
      <div class="contentr">
        <h2   data-animation-in="fadeInRight" data-delay-in="0.1">this for image {{index}}</h2>
        <a href="#"  data-animation-in="fadeInRight" data-delay-in="0.3"> Read more</a>
      </div>
        </div>
{% endfor %}
</div>
  <ul>
    <li class="prev">{% render 'left-arrow',class:'left-arrow' %}</li>
    <li class="next">{% render 'left-arrow',class:'right-arrow' %}</li>
  </ul>
</div>
<!-- Task 1 start -->
<div class="container">
  <h1>Task:1</h1>
  <br>
  <form>
    <div class="form-component">
      <lable>Enter number 1:</lable>
      <input type="number" id='number1' placeholder='Enter number..' />
    </div>
    <div class="form-component">
      <lable>Enter number 2:</lable>
      <input type="number" id='number2' placeholder='Enter number..' />
    </div>
    <button class="submit" id='submit'>submit</button>
  </form>
  <div class="result">
    <p>Result : <span id="result"></span></p>
  </div>
</div>
<!-- Task 1 end -->

<!-- Task 2 start -->
<div class="container">
  <h1>Task:2</h1>
  <span>Remove non-duplicate elements from Array</span>
  <br>
  <form>
    <div class="form-component">
      <lable>Enter array:</lable>
      <input type="text" id='task2-value' placeholder='Enter array' />
    </div>
    <button class="submit" id='task2'>submit</button>
  </form>
  <div class="result">
    <p>Result : <span id="task2-result"></span></p>
  </div>
</div>
<!-- Task 2 end -->
<!-- Task 3 start -->
<div class="container">
  <h1>Task:3</h1>
  <span>Write a JavaScript program to find 1st January is being a Sunday between 2014 and 2050. </span>
  <br>
  <button class="submit" id='task3' onclick="getJanuaryDate()">submit</button>
  <div class="result">
    <p>Years : <span id="task3-result"></span></p>
  </div>
</div>
<!-- Task 3 end -->
<!-- Task 4 start -->
<div class="container">
  <h1>Task:4</h1>
  <span>Write a JavaScript program to calculate the days left until next Christmas. </span>
  <br>
  <button class="submit" id='task4' onclick="getChristmasDate()">submit</button>
  <div class="result">
    <p>Days : <span id="task4-result"></span></p>
  </div>
</div>
<!-- Task 4 end -->
<!-- Task 5 start -->
<div class="container">
  <h1>Task:5</h1>
  <span>Write a javascript program to find the total appearance of number N Number from 0...N
  </span>
  <br>
  <form>
    <div class="form-component">
      <lable>Enter number to find repeat number:</lable>
      <input type="number" id='find-number-repeat' placeholder='Enter number..' />
    </div>
    <div class="form-component">
      <lable>Enter number N :</lable>
      <input type="number" id='end-number' placeholder='Enter number N..' />
    </div>
    <button class="submit" id='task5'>submit</button>
  </form>
  <div class="result">
    <p>Result : <span id="task5-result"></span></p>
  </div>
</div>
<!-- Task 5 end -->
<!-- Task 6 start -->
<div class="container">
  <h1>Task:6</h1>
  <span>Write a sorting algorithm without using any native javascript function such as sort().</span>
  <br>
  <form>
    <div class="form-component">
      <lable>Enter array:</lable>
      <input type="text" id='task6-value' placeholder='Enter array' />
    </div>
    <button class="submit" id='task6'>submit</button>
  </form>
  <div class="result">
    <p>Result : <span id="task6-result"></span></p>
  </div>

</div>
<!-- Task 6 end -->
<!-- Task 7 start -->
<div class="container">
  <h1>Task:7</h1>
  <span>Create an array B which contains the sum of the index from Array A. If the last index of A does not have any other pair to some with then double the number.
    <br>
    Example: 
    A[1,4,3,5]  then B [5,8]
    A[2,2,4,1,5,6,6,4]  then B [4,5,11,10]
    A[1,1,3]  then B [2,6] // here 3 number does not have any other index to sum so we are doing n*2
    </span>
  <br>
  <form>
    <div class="form-component">
      <lable>Enter array:</lable>
      <input type="text" id='task7-value' placeholder='Enter array' />
    </div>
    <button class="submit" id='task7'>submit</button>
  </form>
  <div class="result">
    <p>Result : <span id="task7-result"></span></p>
  </div>
</div>
<!-- Task 7 end -->
<!-- Task 8 start -->
<div class="container">
  <h1>Task:8</h1>
  <span>Write a JavaScript program to create an array of prefix sums of the given array.</span>
  <br>
  <form>
    <div class="form-component">
      <lable>Enter array:</lable>
      <input type="text" id='task8-value' placeholder='Enter array' />
    </div>
    <button class="submit" id='task8'>submit</button>
  </form>
  <div class="result">
    <p>Result : <span id="task8-result"></span></p>
  </div>
</div>
<!-- Task 8 end -->
<!-- Task 9 start -->
<div class="container">
  <h1>Task:9</h1>
  <span>Write a JavaScript program to replace the first digit in a string (should contains at least digit) with $
    character.</span>
  <br>
  <form>
    <div class="form-component">
      <lable>Enter string:</lable>
      <input type="text" id='task9-value' placeholder='Enter string..' />
    </div>
    <button class="submit" id='task9'>submit</button>
  </form>
  <div class="result">
    <p>Result : <span id="task9-result"></span></p>
  </div>
</div>
<!-- Task 9 end -->
{{ 'task.js' | asset_url | script_tag }}