<div class="parent-product">
	<div class="product-title">
		{% assign path = "Home> Sewing Machines> "%}
      
      		{{ path }}	{{ product.title }}
    </div>

	<div class="product-item">     
		<div class="item">
        	{% for image in product.images %}
            	<div class="item-image">
                	{% render 'srcset', src_name: image.src ,src_alt: image.alt %}
              	</div>
            {% endfor %}
        <div class="product-details">
            <h1 class="item_title">{{ product.title }}  | {{ product.type }}</h1>              
            <p class="item_price" >{{ product.price | money }}</p>
        </div>
        </div>   
  </div>
</div>