* {
  box-sizing: border-box;
  font-family: "Basic Commercial",sans-serif; }

tml,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block; }

body {
  line-height: 1; }

ol,
ul {
  list-style: none; }

blockquote,
q {
  quotes: none; }

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

button {
  border: none;
  background: none;
  cursor: pointer;
  margin: 0;
  padding: 0;
  color: white;
  font-size: 15px; }

img {
  height: auto;
  width: 100%;
  position: relative; }

.single_item {
  position: relative;
  height: fit-content;
  z-index: 1; }
  .single_item button {
    border: none;
    background: none;
    cursor: pointer;
    margin: 0;
    padding: 0; }

/* .slick-slide img{
.mobile-image  {
display:block;
}
.mobile-image  {
display:none;
}

@media (max-width: 600px) {
.mobile-image  {
display:none;
}
.desktop-image  {
display:block;
}

}

}
*/
.next-arrow {
  position: absolute;
  top: 50%;
  left: 95%; }

.slick-prev {
  position: absolute;
  left: 5%;
  z-index: 1;
  top: 50%;
  content: "<"; }
  .slick-prev ::before {
    content: "<";
    z-index: 9; }
  .slick-prev:before {
    content: "<"; }

.slick-next {
  position: absolute;
  left: 95%;
  top: 50%; }
  .slick-next:before {
    content: ">"; }
  .slick-next ::before {
    color: red;
    font-size: 30px; }

.slick-dots {
  position: absolute;
  display: flex;
  justify-content: center;
  z-index: 10;
  right: 2%;
  top: 70%; }
  .slick-dots li {
    margin: 0 5px; }
    .slick-dots li button {
      height: 8px;
      width: 8px;
      border-radius: 50%;
      font-size: 0;
      opacity: 0.5;
      background: gray; }
      .slick-dots li button:hover {
        height: 8px;
        width: 8px;
        background: #333;
        padding: 0 -5px;
        border: none; }
    .slick-dots li.slick-active button {
      background: #e3c331;
      transform: scale(1.5);
      border: none; }

.blur-up {
  -webkit-filter: blur(4px);
  filter: blur(4px); }

.blur-up.lazyloaded {
  -webkit-filter: blur(0px);
  filter: blur(0px); }

.lazyloaded {
  width: 100%;
  height: auto; }

.lazyload {
  width: 100%;
  height: auto;
  z-index: 1; }

/* manual input */
/* working */
.heading {
  position: absolute;
  max-width: 400px; }
  .heading h1 {
    font-size: 40px; }
  .heading p {
    font-size: 20px;
    margin-bottom: 25px; }

.center {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); }

.right {
  right: 10%; }

.left {
  left: 10%; }

.top {
  top: 10%; }

.bottom {
  bottom: 10%; }

.middle {
  left: 50%;
  right: 50%; }

.v-middle {
  top: 50%; }

.slick-track {
  position: relative; }

.mobile_slider {
  position: relative; }

.overlay img {
  opacity: 70%; }

.homePageSliderButton {
  text-decoration: none;
  position: relative;
  margin-top: 5px auto;
  padding: 10px;
  border-radius: 15px; }

/* rest */
.show_overlay {
  opacity: 80%; }

/* collection oage style */
.product img {
  max-width: 100%;
  /*   display: inline-block; */ }

.collection-item ul {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 5% 10%; }

body {
  background: rgba(0, 0, 0, 0.033); }

.product .product-image img {
  margin: 0;
  padding-bottom: 10%;
  width: 300px;
  height: 200px; }

.product .product_title {
  font-size: 20px;
  float: left;
  bottom: 0;
  padding: 2%; }

.product .product_price {
  font-size: 20px;
  float: right;
  font-weight: bold;
  bottom: 0%;
  padding: 2%; }

.my-image {
  width: 100px;
  margin: 10px 0px 0px 299px; }

/*  Product Page  */
.product-title {
  position: absolute;
  left: 20%;
  top: 5%; }

.item {
  display: flex;
  margin: 5% 20%; }

.item-image {
  flex: 1;
  border: 2px solid black; }
  .item-image img {
    width: 58.3%; }

.product-details .item_title {
  font-size: 30px; }

.product-details .item_price {
  font-size: 20px;
  font-weight: bold; }

/* popup */
#target {
  display: none;
  padding: 20px;
  background-color: white;
  /* 	button {
  color: #FFF;
  background-color: #273896;
  border: 0;
  padding: 10px;
  margin: 20px auto 0;
  width: 100%;
  &:hover {
  background-color: #1a35508c;
}
} */ }
  #target form {
    width: 100px;
    padding: 20px 0;
    margin: 0;
    opacity: 100%; }
  #target h5 {
    text-decoration: underline;
    position: relative; }
    #target h5 a {
      color: black;
      width: 100%; }
      #target h5 a:hover {
        color: black;
        cursor: pointer; }
  #target .noShowText {
    float: right; }
    #target .noShowText:hover {
      color: black;
      cursor: pointer; }
  #target .input-error-message {
    color: red;
    font-weight: bold;
    font-size: 20px; }
  #target .form-message {
    color: blue; }

/* ----------------------------------------- */
.fancybox-inner {
  width: 100% !important;
  height: auto !important; }

body {
  padding: 0;
  margin: 0;
  background: white;
  background-size: cover;
  -webkit-font-smoothing: antialiased !important; }

.subscriptionbox {
  width: 250px;
  padding: 20px 35px;
  margin: 20px auto;
  background: #fff;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  color: #666;
  font: 400 13px "open sans", sans-serif;
  line-height: 20px !important; }
  .subscriptionbox h2 {
    font: 400 30px "varela round", sans-serif;
    color: #333;
    text-align: center;
    text-transform: uppercase;
    padding: 10px 0;
    margin-bottom: 10px;
    border-bottom: 1px solid #666; }
  .subscriptionbox .betextarea {
    background: #222;
    background-size: 20px;
    border: none;
    background-position: 20px 20px;
    height: 10px;
    width: 230px;
    padding: 20px 10px;
    color: #fff;
    text-indent: 40px;
    outline: none;
    margin-top: 10px; }

.besubmit {
  padding: 0;
  height: 40px;
  line-height: 40px !important;
  width: 250px;
  text-align: center;
  font: 400 15px "open sans", sans-serif;
  background: #e74c3c;
  color: #fff;
  border: none;
  display: block;
  text-transform: uppercase;
  margin-top: 5px;
  border-radius: 5px;
  cursor: pointer;
  position: relative;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out; }
  .besubmit:hover {
    background: #c0392b; }

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 50px; }
  .container h1 {
    font-size: 30px;
    color: red;
    margin-bottom: 30px;
    display: block; }
  .container .form-component lable {
    display: block;
    color: black;
    margin-bottom: 10px;
    font-weight: bold; }
  .container .form-component input {
    border: 1px solid #bbb;
    padding: 10px 20px;
    margin-bottom: 10px;
    outline: none; }
  .container .submit {
    padding: 16px 80px;
    font-size: 20px;
    color: white;
    background-color: green;
    font-weight: bolder;
    border-radius: 5px;
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19); }
  .container .result {
    font-size: 30px;
    margin-top: 20px; }

.calculator {
  padding: 20px;
  width: 500px;
  margin: 4% auto;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 1.8rem; }

.grid-two {
  justify-content: center;
  align-items: center;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 50px;
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translateX(-50%);
  width: 50%; }

.grid-three {
  justify-content: center;
  align-items: center;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 50px;
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translateX(-50%);
  width: 50%; }

.grid-four {
  justify-content: center;
  align-items: center;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 50px;
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translateX(-50%);
  width: 50%; }

.grid-five {
  justify-content: center;
  align-items: center;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 50px;
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translateX(-50%);
  width: 50%; }

.myproduct {
  border: none;
  padding: 20px;
  width: 300px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  text-align: center;
  overflow: hidden;
  border-radius: 10px; }

.myproduct img {
  width: 200px;
  height: 200px;
  transition: transform 1s, filter 3s ease-in-out; }

.myproduct:hover img {
  transform: scale(1.1); }

.myproduct-detail {
  display: flex;
  justify-content: space-between;
  padding: 10px; }

.input {
  border: 1px solid black;
  border-radius: 1px;
  height: 60px;
  width: 386px;
  padding-right: 15px;
  padding-top: 10px;
  text-align: right;
  font-size: 2.5rem;
  overflow-x: auto;
  transition: all 0.2s ease-in-out;
  color: white;
  background-color: black;
  margin-left: -12px; }

.input:hover {
  border: 1px solid #cccccc;
  -webkit-box-shadow: inset 0px 1px 4px 0px rgba(0, 0, 0, 0.2);
  box-shadow: inset 0px 1px 4px 0px rgba(0, 0, 0, 0.2); }

.operators div {
  display: inline-block;
  border: 1px solid black;
  border-radius: 1px;
  width: 80px;
  text-align: center;
  padding: 11px;
  margin-top: 20px;
  cursor: pointer;
  background-color: #cccccc;
  margin-left: -12px;
  margin-bottom: -10px; }

.leftPanel {
  display: inline-block; }

.numbers div {
  display: inline-block;
  border: 1px solid black;
  border-radius: 1px;
  width: 80px;
  text-align: center;
  padding: 10px;
  margin: 10px 4px 10px 0;
  cursor: pointer;
  background-color: #cccccc;
  margin-left: -12px;
  margin-bottom: -10px; }

div.equal {
  border: 1px solid black;
  display: inline-block;
  border: 1px solid #ff9500;
  border-radius: 1px;
  width: 13.5%;
  text-align: center;
  padding: 85px 14px;
  margin: 10px 0px 0px -12px;
  vertical-align: top;
  cursor: pointer;
  color: #fff;
  background-color: #ff9500;
  transition: all 0.2s ease-in-out; }

/* Slider scss */
.blur-up {
  -webkit-filter: blur(5px);
  filter: blur(5px);
  transition: filter 400ms, -webkit-filter 400ms; }

.blur-up.lazyloaded {
  -webkit-filter: blur(0);
  filter: blur(0); }

.lazyload,
.lazyloading {
  opacity: 0;
  background: black; }

.lazyloaded {
  opacity: 1;
  transition: opacity 300ms; }

.cart-page {
  font-family: Cabin, Helvetica, sans-serif; }
  .cart-page svg {
    width: 60px;
    fill: red;
    cursor: pointer;
    stroke-width: 1px; }
    .cart-page svg.right-arrow {
      transform: rotate(180deg); }
  .cart-page .animated {
    transition: all 0.5s ease; }
  .cart-page .slider [data-animation-in] {
    opacity: 0;
    animation-duration: 1.5s;
    transition: opacity 0.5s ease 0.3s;
    transition: 1s; }
  .cart-page .hero-slider {
    position: relative; }
  .cart-page .hero-slider img {
    height: 324px; }
  .cart-page .slick-slide {
    margin: 0 5px; }
  .cart-page .contentr {
    margin-left: 2rem;
    padding: 2rem; }
  .cart-page .div-center {
    position: absolute;
    /* z-index: 99; */
    top: 50%;
    margin-left: 3%;
    transform: translateY(-50%);
    /* max-width: 550px; */
    width: 100%;
    padding: 2rem; }
  .cart-page h1 {
    padding: 10px;
    font-size: 30px;
    margin: 20px; }
  .cart-page .div-center h2 {
    color: red;
    font-size: 40px;
    text-transform: capitalize; }
  .cart-page .div-center a {
    background-color: #351c75;
    width: 100px;
    padding: 16px 32px;
    color: white;
    border-radius: 5px;
    border: none;
    font-weight: bold;
    text-decoration: none;
    letter-spacing: 1px;
    position: absolute;
    margin: 10px; }
  .cart-page .contentr h2 {
    color: red;
    font-size: 40px;
    text-transform: capitalize; }
  .cart-page .contentr a {
    background-color: #351c75;
    width: 100px;
    padding: 16px 32px;
    color: white;
    border-radius: 5px;
    border: none;
    font-weight: bold;
    text-decoration: none;
    letter-spacing: 1px;
    position: absolute;
    margin: 10px; }
  .cart-page .prev {
    position: absolute;
    top: 50%;
    list-style: none;
    left: 0;
    color: red;
    font-size: 35px;
    font-weight: bold;
    transform: translateY(-50%); }
  .cart-page .next {
    transform: translateY(-50%);
    position: absolute;
    top: 50%;
    list-style: none;
    right: 0;
    color: red;
    font-size: 35px; }
  .cart-page [data-animation-in] {
    opacity: 0; }
  .cart-page img.lazy {
    width: 700px;
    height: 467px;
    display: block; }

/*

   Styles for animated modal
   =========================

*/
/* Start state */
.animated-modal {
  max-width: 550px;
  border-radius: 4px;
  overflow: hidden;
  transform: translateY(-50px);
  transition: all 0.7s; }

.animated-modal h2,
.animated-modal p {
  transform: translateY(-50px);
  opacity: 0;
  transition-property: transform, opacity;
  transition-duration: 0.4s; }

/* Final state */
.fancybox-slide--current .animated-modal,
.fancybox-slide--current .animated-modal h2,
.fancybox-slide--current .animated-modal p {
  transform: translateY(0);
  opacity: 1; }

/* Reveal content with different delays */
.fancybox-slide--current .animated-modal h2 {
  transition-delay: 0.1s; }

.fancybox-slide--current .animated-modal p {
  transition-delay: 0.3s; }

.welcome-popup-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  display: none;
  border-radius: 10px; }

.popup-heading {
  margin: 15px; }

.popup-heading h1 {
  color: #000;
  letter-spacing: 1px;
  text-transform: uppercase;
  text-align: center;
  font-size: 40px; }

.popup-content {
  width: 400px;
  text-align: center;
  padding: 10px;
  color: #5f5f5d; }

.popup-content p {
  line-height: 1.5; }

.popup-input {
  width: 400px;
  text-align: center;
  margin: 20px 0px 20px 0px; }

.popup-input input {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #575757;
  background-color: transparent; }

.popup-input input:focus {
  outline: none; }

.popup-button a {
  display: block;
  padding: 16px 32px;
  font-size: 20px;
  background-color: black;
  outline: 0;
  border: none;
  border-radius: 5px;
  border: 10px;
  color: #fff;
  text-transform: uppercase;
  text-align: center;
  font-size: 20px;
  letter-spacing: 1px; }

.fancybox-close-small {
  background: 0 0;
  border: 1px solid black;
  border-radius: 50%;
  color: #ccc;
  cursor: pointer;
  opacity: 0.8;
  padding: 8px;
  position: absolute;
  right: -12px;
  top: -44px;
  z-index: 401;
  /* padding: 31px; */
  margin: 10px; }

.success-message {
  color: #155724;
  background-color: #d4edda;
  border-color: #51795a;
  padding: 10px 10px;
  text-align: center;
  border-radius: 5px;
  border: 1px solid #155724; }

@media only screen and (max-width: 600px) {
  body {
    background-color: lightblue; }
  .main {
    width: 400px; }
  .prev {
    left: -17px;
    font-size: 20px; }
  .next {
    right: -17px;
    font-size: 20px; }
  .contentr {
    top: 5%;
    padding: 1rem; }
  .contentr h2 {
    font-size: 20px; }
  .contentr a {
    width: 100px;
    padding: 8px 16px; }
  .popup-content {
    width: 200px; }
  .popup-input {
    width: 200px; } }

.simply-grid-wrapper {
  width: 100%;
  position: relative; }
  .simply-grid-wrapper .product img {
    transition: transform 0.5s ease; }
  .simply-grid-wrapper .product .img:hover {
    transform: scale(1.5); }
  .simply-grid-wrapper .product .product-detail {
    padding: 20px; }
    .simply-grid-wrapper .product .product-detail .product-heading p {
      text-align: center;
      font-size: 20px;
      font-weight: bold;
      margin-bottom: 5px;
      font-weight: 700;
      text-transform: uppercase;
      font-family: Roboto, sans-seri;
      margin-bottom: 20px; }
    .simply-grid-wrapper .product .product-detail .product-discription {
      height: 115px;
      margin-top: 5px;
      margin-bottom: 20px; }
    .simply-grid-wrapper .product .product-detail .product-discription ul li {
      text-align: center;
      color: #424040;
      text-align: center;
      line-height: 1.3;
      font-size: 15px; }
    .simply-grid-wrapper .product .product-detail .product-prixe p {
      margin-top: 15px;
      margin-bottom: 10px;
      text-align: center;
      font-size: 15px;
      font-weight: bold;
      margin-bottom: 5px;
      font-weight: 700;
      text-transform: uppercase;
      font-family: Roboto;
      margin-bottom: 15px; }
    .simply-grid-wrapper .product .product-detail .add-to {
      text-align: center; }
    .simply-grid-wrapper .product .product-detail .add-to input {
      cursor: pointer;
      background: #b12929;
      color: white;
      padding: 15px 30px;
      border: none;
      border-radius: 5px;
      text-transform: uppercase;
      font-size: 15px;
      font-weight: bold;
      display: inline-block;
      width: 100%;
      transition: all 0.5s linear; }
    .simply-grid-wrapper .product .product-detail .add-to input:hover {
      background: #bb0b0b;
      color: white; }

.slick-initialized .slick-slide {
  display: block;
  margin: 0 10px; }

.slick-list {
  margin: 0px -10px 0px -10px; }

.displaysplider {
  right: 0px; }

.cart-side-bar {
  position: fixed;
  width: 400px;
  border: 1px solid #ddd;
  top: 0;
  right: -400px;
  bottom: 0;
  z-index: 102;
  background-color: #eeeeee;
  transition: 0.3s all ease-in-out;
  z-index: 9999; }
  .cart-side-bar.active {
    right: 0; }
  .cart-side-bar .side-bar-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #fff; }
    .cart-side-bar .side-bar-header h3 {
      font-weight: bold;
      height: 70px;
      line-height: 70px;
      margin: 0;
      padding: 0 15px;
      text-align: left;
      font-size: 13px;
      color: #999;
      text-transform: uppercase; }
    .cart-side-bar .side-bar-header span {
      text-align: left;
      color: black;
      cursor: pointer;
      margin-right: 10px; }
  .cart-side-bar .side-bar-body {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    padding: 10px;
    border-bottom: 1px solid #ddd; }
    .cart-side-bar .side-bar-body .cart-product-detail {
      width: 150px;
      display: block;
      margin-right: 15px; }
      .cart-side-bar .side-bar-body .cart-product-detail .cart-product-price {
        font-weight: 600;
        color: #464646;
        font-size: 14px;
        float: right; }
    .cart-side-bar .side-bar-body .center-wrapper {
      display: flex;
      flex-direction: column; }
      .cart-side-bar .side-bar-body .center-wrapper .cart-title {
        font-weight: 500;
        color: #464646;
        font-size: 14px; }
    .cart-side-bar .side-bar-body .cart-product-image {
      width: 170px; }
      .cart-side-bar .side-bar-body .cart-product-image img {
        width: 70px;
        margin: 10px; }
    .cart-side-bar .side-bar-body .cart-product-quality {
      width: 190px;
      margin: 5px 0; }
      .cart-side-bar .side-bar-body .cart-product-quality p {
        font-weight: 700;
        color: #464646;
        font-size: 15px;
        margin-bottom: 12px; }

.minus,
.plus,
.quality {
  float: left;
  width: 30px;
  height: 40px;
  text-align: center;
  border: 1px solid #ddd;
  /* border-radius: 5px; */
  line-height: 40px;
  padding: 0;
  font-weight: 700;
  cursor: pointer; }

.product-slider-wrapper {
  box-sizing: border-box; }

.cart-data {
  position: absolute;
  bottom: 100px;
  left: 0;
  right: 0;
  top: 70px;
  overflow-y: auto;
  background: #eee;
  height: calc(100% - 70px - 130px); }

.remove-cart a {
  text-decoration: none;
  font-weight: 500;
  color: #464646;
  font-size: 14px;
  cursor: pointer; }

.remove-cart a:hover {
  color: #f71616; }

.cart-footer {
  height: 130px;
  position: absolute;
  bottom: 0;
  left: 0;
  background: #fff;
  right: 0; }
  .cart-footer .footer-data {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 800;
    height: 70px;
    line-height: 70px;
    padding: 0px 15px;
    text-align: left;
    font-size: 14px;
    color: #999;
    text-transform: uppercase; }
  .cart-footer .check-out-button a {
    padding: 22px 42px;
    background-color: #2f4676;
    color: #fff;
    display: block;
    text-align: center;
    font-weight: 700; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

/* main wrapper start */
.main-wrapper {
  background-color: #ffff;
  display: flex;
  align-items: center;
  flex-direction: column; }

/* main wrapper end */
/* top header start */
.top-header {
  background-color: #20211a;
  width: 100%; }

.top-header .top-header-text p {
  color: #ffff;
  text-align: center;
  padding: 15px 15px;
  font-size: 13px;
  font-weight: 600; }

.multi-currency {
  position: relative;
  right: 40px; }
  .multi-currency select {
    border: none;
    padding-right: -9px;
    /* margin-bottom: 0; */
    background-position: right;
    background: transparent;
    outline: none;
    font-size: 15px;
    font-weight: 700; }

/* top header end */
/* top navigation start */
.top-navigation-wrapper {
  width: 100%;
  position: relative; }
  .top-navigation-wrapper.sticky {
    position: fixed;
    top: 0;
    width: 100%;
    height: 60px;
    z-index: 99999;
    background-color: #fff; }

.navigation {
  display: flex;
  /* justify-content: space-around; */
  align-items: center;
  max-width: 1500px;
  margin: 0 auto; }

.navigation .navigation-logo {
  width: 20%; }
  .navigation .navigation-logo img {
    height: auto;
    width: 150px; }

.navigation .navigation-menu {
  width: 60%; }

.navigation .navigation-menu nav {
  text-align: center; }

.navigation .navigation-menu nav ul {
  list-style: none; }

.navigation .navigation-menu nav ul li {
  display: inline-block;
  text-align: center;
  margin-right: 50px;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 15px;
  padding: 0px; }

.navigation .navigation-menu nav ul li a {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 15px;
  color: black;
  text-decoration: none; }

.navigation-icon {
  width: 20%; }

.navigation-icon nav ul {
  list-style: none;
  display: flex;
  justify-content: space-evenly; }

.navigation-icon nav ul li {
  width: 15px;
  font-size: 15px;
  font-weight: bold;
  text-transform: uppercase; }

/* top navigation end */
.mega-menu {
  display: none;
  position: absolute;
  /* background-color: #faf5f5; */
  width: 100%;
  left: 0;
  z-index: 1;
  top: 100%;
  padding: 0; }

/* Create three equal columns that floats next to each other */
.column {
  background-color: #fffdfd;
  width: 33.33%;
  height: auto; }

.column h3 {
  padding: 10px 10px; }

.column a {
  color: black;
  text-decoration: none;
  display: block;
  padding: 10px 10px; }

.column a:hover {
  background-color: #ddd; }

/* Clear floats after the columns */
.row {
  display: flex;
  width: 100%;
  justify-content: space-around; }

.dropdown a {
  position: relative;
  display: block; }

.dropdown {
  display: block; }

.grandchild {
  font-size: 12px;
  color: red;
  text-decoration: none; }

.dropdown:hover .mega-menu {
  display: block; }

/*================ Vendors ================*/
body.compensate-for-scrollbar {
  overflow: hidden; }

.fancybox-active {
  height: auto; }

.fancybox-is-hidden {
  left: -9999px;
  margin: 0;
  position: absolute !important;
  top: -9999px;
  visibility: hidden; }

.fancybox-container {
  -webkit-backface-visibility: hidden;
  height: 100%;
  left: 0;
  outline: none;
  position: fixed;
  -webkit-tap-highlight-color: transparent;
  top: 0;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  transform: translateZ(0);
  width: 100%;
  z-index: 99992; }

.fancybox-container * {
  box-sizing: border-box; }

.fancybox-outer,
.fancybox-inner,
.fancybox-bg,
.fancybox-stage {
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0; }

.fancybox-outer {
  -webkit-overflow-scrolling: touch;
  overflow-y: auto; }

.fancybox-bg {
  background: #1e1e1e;
  opacity: 0;
  transition-duration: inherit;
  transition-property: opacity;
  transition-timing-function: cubic-bezier(0.47, 0, 0.74, 0.71); }

.fancybox-is-open .fancybox-bg {
  opacity: .9;
  transition-timing-function: cubic-bezier(0.22, 0.61, 0.36, 1); }

.fancybox-infobar,
.fancybox-toolbar,
.fancybox-caption,
.fancybox-navigation .fancybox-button {
  direction: ltr;
  opacity: 0;
  position: absolute;
  transition: opacity .25s ease, visibility 0s ease .25s;
  visibility: hidden;
  z-index: 99997; }

.fancybox-show-infobar .fancybox-infobar,
.fancybox-show-toolbar .fancybox-toolbar,
.fancybox-show-caption .fancybox-caption,
.fancybox-show-nav .fancybox-navigation .fancybox-button {
  opacity: 1;
  transition: opacity .25s ease 0s, visibility 0s ease 0s;
  visibility: visible; }

.fancybox-infobar {
  color: #ccc;
  font-size: 13px;
  -webkit-font-smoothing: subpixel-antialiased;
  height: 44px;
  left: 0;
  line-height: 44px;
  min-width: 44px;
  mix-blend-mode: difference;
  padding: 0 10px;
  pointer-events: none;
  top: 0;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

.fancybox-toolbar {
  right: 0;
  top: 0; }

.fancybox-stage {
  direction: ltr;
  overflow: visible;
  transform: translateZ(0);
  z-index: 99994; }

.fancybox-is-open .fancybox-stage {
  overflow: hidden; }

.fancybox-slide {
  -webkit-backface-visibility: hidden;
  /* Using without prefix would break IE11 */
  display: none;
  height: 100%;
  left: 0;
  outline: none;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  padding: 44px;
  position: absolute;
  text-align: center;
  top: 0;
  transition-property: transform, opacity;
  white-space: normal;
  width: 100%;
  z-index: 99994; }

.fancybox-slide::before {
  content: '';
  display: inline-block;
  font-size: 0;
  height: 100%;
  vertical-align: middle;
  width: 0; }

.fancybox-is-sliding .fancybox-slide,
.fancybox-slide--previous,
.fancybox-slide--current,
.fancybox-slide--next {
  display: block; }

.fancybox-slide--image {
  overflow: hidden;
  padding: 44px 0; }

.fancybox-slide--image::before {
  display: none; }

.fancybox-slide--html {
  padding: 6px; }

.fancybox-content {
  background: #fdf9f9;
  display: inline-block;
  margin: 0;
  max-width: 100%;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  padding: 44px;
  position: relative;
  text-align: left;
  vertical-align: middle; }

.fancybox-slide--image .fancybox-content {
  animation-timing-function: cubic-bezier(0.5, 0, 0.14, 1);
  -webkit-backface-visibility: hidden;
  background: transparent;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  left: 0;
  max-width: none;
  overflow: visible;
  padding: 0;
  position: absolute;
  top: 0;
  -ms-transform-origin: top left;
  transform-origin: top left;
  transition-property: transform, opacity;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  z-index: 99995; }

.fancybox-can-zoomOut .fancybox-content {
  cursor: zoom-out; }

.fancybox-can-zoomIn .fancybox-content {
  cursor: zoom-in; }

.fancybox-can-swipe .fancybox-content,
.fancybox-can-pan .fancybox-content {
  cursor: -webkit-grab;
  cursor: grab; }

.fancybox-is-grabbing .fancybox-content {
  cursor: -webkit-grabbing;
  cursor: grabbing; }

.fancybox-container [data-selectable='true'] {
  cursor: text; }

.fancybox-image,
.fancybox-spaceball {
  background: transparent;
  border: 0;
  height: 100%;
  left: 0;
  margin: 0;
  max-height: none;
  max-width: none;
  padding: 0;
  position: absolute;
  top: 0;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  width: 100%; }

.fancybox-spaceball {
  z-index: 1; }

.fancybox-slide--video .fancybox-content,
.fancybox-slide--map .fancybox-content,
.fancybox-slide--pdf .fancybox-content,
.fancybox-slide--iframe .fancybox-content {
  height: 100%;
  overflow: visible;
  padding: 0;
  width: 100%; }

.fancybox-slide--video .fancybox-content {
  background: #000; }

.fancybox-slide--map .fancybox-content {
  background: #e5e3df; }

.fancybox-slide--iframe .fancybox-content {
  background: #fff; }

.fancybox-video,
.fancybox-iframe {
  background: transparent;
  border: 0;
  display: block;
  height: 100%;
  margin: 0;
  overflow: hidden;
  padding: 0;
  width: 100%; }

/* Fix iOS */
.fancybox-iframe {
  left: 0;
  position: absolute;
  top: 0; }

.fancybox-error {
  background: #fff;
  cursor: default;
  max-width: 400px;
  padding: 40px;
  width: 100%; }

.fancybox-error p {
  color: #444;
  font-size: 16px;
  line-height: 20px;
  margin: 0;
  padding: 0; }

/* Buttons */
.fancybox-button {
  background: rgba(30, 30, 30, 0.6);
  border: 0;
  border-radius: 0;
  box-shadow: none;
  cursor: pointer;
  display: inline-block;
  height: 44px;
  margin: 0;
  padding: 10px;
  position: relative;
  transition: color .2s;
  vertical-align: top;
  visibility: inherit;
  width: 44px; }

.fancybox-button,
.fancybox-button:visited,
.fancybox-button:link {
  color: #ccc; }

.fancybox-button:hover {
  color: #fff; }

.fancybox-button:focus {
  outline: none; }

.fancybox-button.fancybox-focus {
  outline: 1px dotted; }

.fancybox-button[disabled],
.fancybox-button[disabled]:hover {
  color: #888;
  cursor: default;
  outline: none; }

/* Fix IE11 */
.fancybox-button div {
  height: 100%; }

.fancybox-button svg {
  display: block;
  height: 100%;
  overflow: visible;
  position: relative;
  width: 100%; }

.fancybox-button svg path {
  fill: currentColor;
  stroke-width: 0; }

.fancybox-button--play svg:nth-child(2),
.fancybox-button--fsenter svg:nth-child(2) {
  display: none; }

.fancybox-button--pause svg:nth-child(1),
.fancybox-button--fsexit svg:nth-child(1) {
  display: none; }

.fancybox-progress {
  background: #ff5268;
  height: 2px;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  -ms-transform: scaleX(0);
  transform: scaleX(0);
  -ms-transform-origin: 0;
  transform-origin: 0;
  transition-property: transform;
  transition-timing-function: linear;
  z-index: 99998; }

/* Close button on the top right corner of html content */
.fancybox-close-small {
  background: #ddd;
  /* border: 1px solid #000; */
  /* border-radius: 50%; */
  color: black;
  cursor: pointer;
  opacity: .8;
  padding: 8px;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 401;
  margin: 0;
  transition: all 1s l; }

.fancybox-close-small:hover {
  color: #fff;
  opacity: 1;
  background: #f72f2f; }

.fancybox-slide--html .fancybox-close-small {
  color: currentColor;
  padding: 10px;
  right: 0;
  top: 0; }

.fancybox-slide--image.fancybox-is-scaling .fancybox-content {
  overflow: hidden; }

.fancybox-is-scaling .fancybox-close-small,
.fancybox-is-zoomable.fancybox-can-pan .fancybox-close-small {
  display: none; }

/* Navigation arrows */
.fancybox-navigation .fancybox-button {
  background-clip: content-box;
  height: 100px;
  opacity: 0;
  position: absolute;
  top: calc(50% - 50px);
  width: 70px; }

.fancybox-navigation .fancybox-button div {
  padding: 7px; }

.fancybox-navigation .fancybox-button--arrow_left {
  left: 0;
  left: env(safe-area-inset-left);
  padding: 31px 26px 31px 6px; }

.fancybox-navigation .fancybox-button--arrow_right {
  padding: 31px 6px 31px 26px;
  right: 0;
  right: env(safe-area-inset-right); }

/* Caption */
.fancybox-caption {
  background: linear-gradient(to top, rgba(0, 0, 0, 0.85) 0%, rgba(0, 0, 0, 0.3) 50%, rgba(0, 0, 0, 0.15) 65%, rgba(0, 0, 0, 0.075) 75.5%, rgba(0, 0, 0, 0.037) 82.85%, rgba(0, 0, 0, 0.019) 88%, rgba(0, 0, 0, 0) 100%);
  bottom: 0;
  color: #eee;
  font-size: 14px;
  font-weight: 400;
  left: 0;
  line-height: 1.5;
  padding: 75px 44px 25px 44px;
  pointer-events: none;
  right: 0;
  text-align: center;
  z-index: 99996; }

.fancybox-caption--separate {
  margin-top: -50px; }

.fancybox-caption__body {
  max-height: 50vh;
  overflow: auto;
  pointer-events: all; }

.fancybox-caption a,
.fancybox-caption a:link,
.fancybox-caption a:visited {
  color: #ccc;
  text-decoration: none; }

.fancybox-caption a:hover {
  color: #fff;
  text-decoration: underline; }

/* Loading indicator */
.fancybox-loading {
  animation: fancybox-rotate 1s linear infinite;
  background: transparent;
  border: 4px solid #888;
  border-bottom-color: #fff;
  border-radius: 50%;
  height: 50px;
  left: 50%;
  margin: -25px 0 0 -25px;
  opacity: .7;
  padding: 0;
  position: absolute;
  top: 50%;
  width: 50px;
  z-index: 99999; }

@keyframes fancybox-rotate {
  100% {
    transform: rotate(360deg); } }

/* Transition effects */
.fancybox-animated {
  transition-timing-function: cubic-bezier(0, 0, 0.25, 1); }

/* transitionEffect: slide */
.fancybox-fx-slide.fancybox-slide--previous {
  opacity: 0;
  transform: translate3d(-100%, 0, 0); }

.fancybox-fx-slide.fancybox-slide--next {
  opacity: 0;
  transform: translate3d(100%, 0, 0); }

.fancybox-fx-slide.fancybox-slide--current {
  opacity: 1;
  transform: translate3d(0, 0, 0); }

/* transitionEffect: fade */
.fancybox-fx-fade.fancybox-slide--previous,
.fancybox-fx-fade.fancybox-slide--next {
  opacity: 0;
  transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1); }

.fancybox-fx-fade.fancybox-slide--current {
  opacity: 1; }

/* transitionEffect: zoom-in-out */
.fancybox-fx-zoom-in-out.fancybox-slide--previous {
  opacity: 0;
  transform: scale3d(1.5, 1.5, 1.5); }

.fancybox-fx-zoom-in-out.fancybox-slide--next {
  opacity: 0;
  transform: scale3d(0.5, 0.5, 0.5); }

.fancybox-fx-zoom-in-out.fancybox-slide--current {
  opacity: 1;
  transform: scale3d(1, 1, 1); }

/* transitionEffect: rotate */
.fancybox-fx-rotate.fancybox-slide--previous {
  opacity: 0;
  -ms-transform: rotate(-360deg);
  transform: rotate(-360deg); }

.fancybox-fx-rotate.fancybox-slide--next {
  opacity: 0;
  -ms-transform: rotate(360deg);
  transform: rotate(360deg); }

.fancybox-fx-rotate.fancybox-slide--current {
  opacity: 1;
  -ms-transform: rotate(0deg);
  transform: rotate(0deg); }

/* transitionEffect: circular */
.fancybox-fx-circular.fancybox-slide--previous {
  opacity: 0;
  transform: scale3d(0, 0, 0) translate3d(-100%, 0, 0); }

.fancybox-fx-circular.fancybox-slide--next {
  opacity: 0;
  transform: scale3d(0, 0, 0) translate3d(100%, 0, 0); }

.fancybox-fx-circular.fancybox-slide--current {
  opacity: 1;
  transform: scale3d(1, 1, 1) translate3d(0, 0, 0); }

/* transitionEffect: tube */
.fancybox-fx-tube.fancybox-slide--previous {
  transform: translate3d(-100%, 0, 0) scale(0.1) skew(-10deg); }

.fancybox-fx-tube.fancybox-slide--next {
  transform: translate3d(100%, 0, 0) scale(0.1) skew(10deg); }

.fancybox-fx-tube.fancybox-slide--current {
  transform: translate3d(0, 0, 0) scale(1); }

/* Styling for Small-Screen Devices */
@media all and (max-height: 576px) {
  .fancybox-slide {
    padding-left: 6px;
    padding-right: 6px; }
  .fancybox-slide--image {
    padding: 6px 0; }
  .fancybox-close-small {
    right: -6px; }
  .fancybox-slide--image .fancybox-close-small {
    background: #4e4e4e;
    color: #f2f4f6;
    height: 36px;
    opacity: 1;
    padding: 6px;
    right: 0;
    top: 0;
    width: 36px; }
  .fancybox-caption {
    padding-left: 12px;
    padding-right: 12px; } }

/* Share */
.fancybox-share {
  background: #f4f4f4;
  border-radius: 3px;
  max-width: 90%;
  padding: 30px;
  text-align: center; }

.fancybox-share h1 {
  color: #222;
  font-size: 35px;
  font-weight: 700;
  margin: 0 0 20px 0; }

.fancybox-share p {
  margin: 0;
  padding: 0; }

.fancybox-share__button {
  border: 0;
  border-radius: 3px;
  display: inline-block;
  font-size: 14px;
  font-weight: 700;
  line-height: 40px;
  margin: 0 5px 10px 5px;
  min-width: 130px;
  padding: 0 15px;
  text-decoration: none;
  transition: all .2s;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  white-space: nowrap; }

.fancybox-share__button:visited,
.fancybox-share__button:link {
  color: #fff; }

.fancybox-share__button:hover {
  text-decoration: none; }

.fancybox-share__button--fb {
  background: #3b5998; }

.fancybox-share__button--fb:hover {
  background: #344e86; }

.fancybox-share__button--pt {
  background: #bd081d; }

.fancybox-share__button--pt:hover {
  background: #aa0719; }

.fancybox-share__button--tw {
  background: #1da1f2; }

.fancybox-share__button--tw:hover {
  background: #0d95e8; }

.fancybox-share__button svg {
  height: 25px;
  margin-right: 7px;
  position: relative;
  top: -1px;
  vertical-align: middle;
  width: 25px; }

.fancybox-share__button svg path {
  fill: #fff; }

.fancybox-share__input {
  background: transparent;
  border: 0;
  border-bottom: 1px solid #d7d7d7;
  border-radius: 0;
  color: #5d5b5b;
  font-size: 14px;
  margin: 10px 0 0 0;
  outline: none;
  padding: 10px 15px;
  width: 100%; }

/* Thumbs */
.fancybox-thumbs {
  background: #ddd;
  bottom: 0;
  display: none;
  margin: 0;
  -webkit-overflow-scrolling: touch;
  -ms-overflow-style: -ms-autohiding-scrollbar;
  padding: 2px 2px 4px 2px;
  position: absolute;
  right: 0;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  top: 0;
  width: 212px;
  z-index: 99995; }

.fancybox-thumbs-x {
  overflow-x: auto;
  overflow-y: hidden; }

.fancybox-show-thumbs .fancybox-thumbs {
  display: block; }

.fancybox-show-thumbs .fancybox-inner {
  right: 212px; }

.fancybox-thumbs__list {
  font-size: 0;
  height: 100%;
  list-style: none;
  margin: 0;
  overflow-x: hidden;
  overflow-y: auto;
  padding: 0;
  position: absolute;
  position: relative;
  white-space: nowrap;
  width: 100%; }

.fancybox-thumbs-x .fancybox-thumbs__list {
  overflow: hidden; }

.fancybox-thumbs-y .fancybox-thumbs__list::-webkit-scrollbar {
  width: 7px; }

.fancybox-thumbs-y .fancybox-thumbs__list::-webkit-scrollbar-track {
  background: #fff;
  border-radius: 10px;
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3); }

.fancybox-thumbs-y .fancybox-thumbs__list::-webkit-scrollbar-thumb {
  background: #2a2a2a;
  border-radius: 10px; }

.fancybox-thumbs__list a {
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  background-color: rgba(0, 0, 0, 0.1);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  cursor: pointer;
  float: left;
  height: 75px;
  margin: 2px;
  max-height: calc(100% - 8px);
  max-width: calc(50% - 4px);
  outline: none;
  overflow: hidden;
  padding: 0;
  position: relative;
  -webkit-tap-highlight-color: transparent;
  width: 100px; }

.fancybox-thumbs__list a::before {
  border: 6px solid #ff5268;
  bottom: 0;
  content: '';
  left: 0;
  opacity: 0;
  position: absolute;
  right: 0;
  top: 0;
  transition: all 0.2s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  z-index: 99991; }

.fancybox-thumbs__list a:focus::before {
  opacity: .5; }

.fancybox-thumbs__list a.fancybox-thumbs-active::before {
  opacity: 1; }

/* Styling for Small-Screen Devices */
@media all and (max-width: 576px) {
  .fancybox-thumbs {
    width: 110px; }
  .fancybox-show-thumbs .fancybox-inner {
    right: 110px; }
  .fancybox-thumbs__list a {
    max-width: calc(100% - 10px); } }

/**
 * jQuery toast plugin created by Kamran Ahmed copyright MIT license 2014
 */
.jq-toast-wrap {
  display: block;
  position: fixed;
  width: 250px;
  pointer-events: none !important;
  margin: 0;
  padding: 0;
  letter-spacing: normal;
  z-index: 9000 !important; }

.jq-toast-wrap * {
  margin: 0;
  padding: 0; }

.jq-toast-wrap.bottom-left {
  bottom: 20px;
  left: 20px; }

.jq-toast-wrap.bottom-right {
  bottom: 20px;
  right: 40px; }

.jq-toast-wrap.top-left {
  top: 20px;
  left: 20px; }

.jq-toast-wrap.top-right {
  top: 20px;
  right: 40px; }

.jq-toast-single {
  display: block;
  width: 100%;
  padding: 10px;
  margin: 0px 0px 5px;
  border-radius: 4px;
  font-size: 12px;
  font-family: arial, sans-serif;
  line-height: 17px;
  position: relative;
  pointer-events: all !important;
  background-color: #444444;
  color: white; }

.jq-toast-single h2 {
  font-family: arial, sans-serif;
  font-size: 14px;
  margin: 0px 0px 7px;
  background: none;
  color: inherit;
  line-height: inherit;
  letter-spacing: normal; }

.jq-toast-single a {
  color: #eee;
  text-decoration: none;
  font-weight: bold;
  border-bottom: 1px solid white;
  padding-bottom: 3px;
  font-size: 12px; }

.jq-toast-single ul {
  margin: 0px 0px 0px 15px;
  background: none;
  padding: 0px; }

.jq-toast-single ul li {
  list-style-type: disc !important;
  line-height: 17px;
  background: none;
  margin: 0;
  padding: 0;
  letter-spacing: normal; }

.close-jq-toast-single {
  position: absolute;
  top: 3px;
  right: 7px;
  font-size: 14px;
  cursor: pointer; }

.jq-toast-loader {
  display: block;
  position: absolute;
  top: -2px;
  height: 5px;
  width: 0%;
  left: 0;
  border-radius: 5px;
  background: red; }

.jq-toast-loaded {
  width: 100%; }

.jq-has-icon {
  padding: 10px 10px 10px 50px;
  background-repeat: no-repeat;
  background-position: 10px; }

.jq-icon-info {
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAAGwSURBVEhLtZa9SgNBEMc9sUxxRcoUKSzSWIhXpFMhhYWFhaBg4yPYiWCXZxBLERsLRS3EQkEfwCKdjWJAwSKCgoKCcudv4O5YLrt7EzgXhiU3/4+b2ckmwVjJSpKkQ6wAi4gwhT+z3wRBcEz0yjSseUTrcRyfsHsXmD0AmbHOC9Ii8VImnuXBPglHpQ5wwSVM7sNnTG7Za4JwDdCjxyAiH3nyA2mtaTJufiDZ5dCaqlItILh1NHatfN5skvjx9Z38m69CgzuXmZgVrPIGE763Jx9qKsRozWYw6xOHdER+nn2KkO+Bb+UV5CBN6WC6QtBgbRVozrahAbmm6HtUsgtPC19tFdxXZYBOfkbmFJ1VaHA1VAHjd0pp70oTZzvR+EVrx2Ygfdsq6eu55BHYR8hlcki+n+kERUFG8BrA0BwjeAv2M8WLQBtcy+SD6fNsmnB3AlBLrgTtVW1c2QN4bVWLATaIS60J2Du5y1TiJgjSBvFVZgTmwCU+dAZFoPxGEEs8nyHC9Bwe2GvEJv2WXZb0vjdyFT4Cxk3e/kIqlOGoVLwwPevpYHT+00T+hWwXDf4AJAOUqWcDhbwAAAAASUVORK5CYII=");
  background-color: #31708f;
  color: #d9edf7;
  border-color: #bce8f1; }

.jq-icon-warning {
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAAGYSURBVEhL5ZSvTsNQFMbXZGICMYGYmJhAQIJAICYQPAACiSDB8AiICQQJT4CqQEwgJvYASAQCiZiYmJhAIBATCARJy+9rTsldd8sKu1M0+dLb057v6/lbq/2rK0mS/TRNj9cWNAKPYIJII7gIxCcQ51cvqID+GIEX8ASG4B1bK5gIZFeQfoJdEXOfgX4QAQg7kH2A65yQ87lyxb27sggkAzAuFhbbg1K2kgCkB1bVwyIR9m2L7PRPIhDUIXgGtyKw575yz3lTNs6X4JXnjV+LKM/m3MydnTbtOKIjtz6VhCBq4vSm3ncdrD2lk0VgUXSVKjVDJXJzijW1RQdsU7F77He8u68koNZTz8Oz5yGa6J3H3lZ0xYgXBK2QymlWWA+RWnYhskLBv2vmE+hBMCtbA7KX5drWyRT/2JsqZ2IvfB9Y4bWDNMFbJRFmC9E74SoS0CqulwjkC0+5bpcV1CZ8NMej4pjy0U+doDQsGyo1hzVJttIjhQ7GnBtRFN1UarUlH8F3xict+HY07rEzoUGPlWcjRFRr4/gChZgc3ZL2d8oAAAAASUVORK5CYII=");
  background-color: #8a6d3b;
  color: #fcf8e3;
  border-color: #faebcc; }

.jq-icon-error {
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAAHOSURBVEhLrZa/SgNBEMZzh0WKCClSCKaIYOED+AAKeQQLG8HWztLCImBrYadgIdY+gIKNYkBFSwu7CAoqCgkkoGBI/E28PdbLZmeDLgzZzcx83/zZ2SSXC1j9fr+I1Hq93g2yxH4iwM1vkoBWAdxCmpzTxfkN2RcyZNaHFIkSo10+8kgxkXIURV5HGxTmFuc75B2RfQkpxHG8aAgaAFa0tAHqYFfQ7Iwe2yhODk8+J4C7yAoRTWI3w/4klGRgR4lO7Rpn9+gvMyWp+uxFh8+H+ARlgN1nJuJuQAYvNkEnwGFck18Er4q3egEc/oO+mhLdKgRyhdNFiacC0rlOCbhNVz4H9FnAYgDBvU3QIioZlJFLJtsoHYRDfiZoUyIxqCtRpVlANq0EU4dApjrtgezPFad5S19Wgjkc0hNVnuF4HjVA6C7QrSIbylB+oZe3aHgBsqlNqKYH48jXyJKMuAbiyVJ8KzaB3eRc0pg9VwQ4niFryI68qiOi3AbjwdsfnAtk0bCjTLJKr6mrD9g8iq/S/B81hguOMlQTnVyG40wAcjnmgsCNESDrjme7wfftP4P7SP4N3CJZdvzoNyGq2c/HWOXJGsvVg+RA/k2MC/wN6I2YA2Pt8GkAAAAASUVORK5CYII=");
  background-color: #a94442;
  color: #f2dede;
  border-color: #ebccd1; }

.jq-icon-success {
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAADsSURBVEhLY2AYBfQMgf///3P8+/evAIgvA/FsIF+BavYDDWMBGroaSMMBiE8VC7AZDrIFaMFnii3AZTjUgsUUWUDA8OdAH6iQbQEhw4HyGsPEcKBXBIC4ARhex4G4BsjmweU1soIFaGg/WtoFZRIZdEvIMhxkCCjXIVsATV6gFGACs4Rsw0EGgIIH3QJYJgHSARQZDrWAB+jawzgs+Q2UO49D7jnRSRGoEFRILcdmEMWGI0cm0JJ2QpYA1RDvcmzJEWhABhD/pqrL0S0CWuABKgnRki9lLseS7g2AlqwHWQSKH4oKLrILpRGhEQCw2LiRUIa4lwAAAABJRU5ErkJggg==");
  color: #dff0d8;
  background-color: #3c763d;
  border-color: #d6e9c6; }

