<div>{{ collection.title }}</div>

{% for collection in product.collections %}
    <img src="{{ product.featured_image }}" | asset_url >
{% endfor %}

{% for collection in product.collections %}
    {{ collection.title }}
{% endfor %}