<div class="simply-grid-wrapper">
    <div class="product-slider-wrapper slider-for">
    
      {% assign collection =collections[settings.collection]%}
      {% for product in collection.products%}
     
       {%- render 'product-grid',product:product -%}
      {% endfor %}
     
    </div>
    {%- render 'side-cart' -%}
  </div>
{% schema %}
{
"name": "add image collection",
"settings":[


],
"blocks":[
{
"type":"collection",
"name":"image slider colection",
"settings": [
{
"label": "Add Collection",

"id": "collection",
"type": "collection"
}
]
}

]
}
{% endschema %}