<!-- main wrapper start -->
<div class="main-wrapper">
    <!-- top header start -->
    <div class="top-header">
        <div class="top-header-text">
            <p>
                Global CSS settings, fundamental HTML elements styled and enhanced with extensible classes, and an
                advanced grid system

            </p>
        </div>
    </div>
    <!-- top header end -->
    <!-- top navigation start -->
    <div class="top-navigation-wrapper">
        <header class="navigation">
            <div class="navigation-logo">
                <img src={{'splus_transparent_large_bc482edd-c697-47ab-ac75-4fa305ebc182.png' | file_url}} />
            </div>
            <div class="navigation-menu">
                <nav>
                    <ul>
                        {% for link in linklists[section.settings.main_linklist].links%}

                        {% if link.links != blank %}
                        <li class="dropdown"><a href="{{ link.url }}">{{ link.title }}
                                <i class="fa fa-caret-down"></i>
                                <div class="mega-menu">
                                    <!-- <div class="mega-menu-heading">
                                        <h3>mega menu</h3>
                                    </div>
                                    <ul>
                                        {% for sublink in link.links %}

                                        <li>
                                            <a href="{{sublink.url}}" > {{ sublink.title }}</a>
                                        </li>
                                        {% endfor%}
                                    </ul> -->

                                    <div class="row">

                                        <div class="column">
                                        
                                            {% for sublink in link.links %}
                                            <a href="{{sublink.url}}"> {{ sublink.title }}</a>
                                            <ul class="grandchild">
                                            {% for grandchild_link in sublink.links %}  
                                              <a href= "{{ grandchild_link.url }}">{{ grandchild_link.title }}</a>
                                            {% endfor %}
                                            
                                            </ul>
                                            {% endfor%}
                                        </div>
                                        <div class="column">
                                           
                                            {% for sublink in link.links %}
                                            <a href="{{sublink.url}}"> {{ sublink.title }}</a>
                                            <div class="grandchild">
                                            {% for grandchild_link in sublink.links %}  
                                              <a href= "{{ grandchild_link.url }}">{{ grandchild_link.title }}</a>
                                            {% endfor %}
                                            
                                            </div>
                                            {% endfor%}
                                        </div>
                                        <div class="column">
                                            {% for sublink in link.links %}
                                            <a href="{{sublink.url}}"> {{ sublink.title }}</a>
                                            <ul class="grandchild">
                                            {% for grandchild_link in sublink.links %}  
                                              <a href= "{{ grandchild_link.url }}">{{ grandchild_link.title }}</a>
                                            {% endfor %}
                                            
                                            </ul>
                                            {% endfor%}
                                        </div>

                                    </div>

                            </a>
                        </li>
                        {% else%}
                        <li><a href="{{ link.url }}">{{ link.title }}</a></li>
                        {% endif %}
                        {% endfor %}
                        <!-- <li>SS16</li>
    <li>Shop</li>
    <li>offres</li>
    <li>lookbook</li> -->
                    </ul>
                </nav>
            </div>
            <div class="navigation-icon">
                <nav>
                    <ul>
                        <li>
                            <div class="multi-currency">
                                <form>
                                    <select name="currency">


                                        <option value="AUD">AUD $</option>
                                        <option value="USD">USD $</option>
                                        <option value="EUR">EUR €</option>
                                        <option value="GBP">GBP £</option>
                                        <option selected="true" value="INR">INR ₹</option>
                                        <option value="PHP">PHP ₱</option>
                                    </select>
                                </form>
                            </div>
                        </li>
                        <li>
                            <svg class="Icon Icon--account" role="presentation" viewBox="0 0 20 20">
                                <g transform="translate(1 1)" stroke="currentColor" stroke-width="2" fill="none"
                                    fill-rule="evenodd" stroke-linecap="square">
                                    <path
                                        d="M0 18c0-4.5188182 3.663-8.18181818 8.18181818-8.18181818h1.63636364C14.337 9.81818182 18 13.4811818 18 18">
                                    </path>
                                    <circle cx="9" cy="4.90909091" r="4.90909091"></circle>
                                </g>
                            </svg>
                        </li>
                        <li>
                            <svg class="Icon Icon--search-desktop" role="presentation" viewBox="0 0 21 21">
                                <g transform="translate(1 1)" stroke="currentColor" stroke-width="2" fill="none"
                                    fill-rule="evenodd" stroke-linecap="square">
                                    <path d="M18 18l-5.7096-5.7096"></path>
                                    <circle cx="7.2" cy="7.2" r="7.2"></circle>
                                </g>
                            </svg>
                        </li>
                        <li>
                            <svg class="Icon Icon--cart-desktop" role="presentation" viewBox="0 0 19 23">
                                <path
                                    d="M0 22.985V5.995L2 6v.03l17-.014v16.968H0zm17-15H2v13h15v-13zm-5-2.882c0-2.04-.493-3.203-2.5-3.203-2 0-2.5 1.164-2.5 3.203v.912H5V4.647C5 1.19 7.274 0 9.5 0 11.517 0 14 1.354 14 4.647v1.368h-2v-.912z"
                                    fill="currentColor"></path>
                            </svg>
                        </li>
                    </ul>
                </nav>
            </div>
        </header>
    </div>
</div>
<script>console.log("{{ link | json }}");</script>
{% schema %}
{
"name": "navigation-header",
"settings": [
{
"type": "link_list",
"id": "main_linklist",
"label": "select-navigation manu"
}
]
}
{% endschema %}