{% comment%}
<div class="cart-page">
  <div class="slider  slider-for">
  {% for block in section.blocks %}
    <div class="hero-slider"> 
      

  	{% render 'srcset',src_name:block.settings.slideshow_image,src_alt:block.settings.slideshow_image.alt,load_blur:true %}		

       <div class="contentr">
        <h2   data-animation-in="fadeInRight" data-delay-in="0.1">this for image {{index}}</h2>
        <a href="#"  data-animation-in="fadeInRight" data-delay-in="0.3"> Read more</a>
      </div>
        </div>
  {% endfor %}  
</div>
  <ul>
    <li class="prev">{% render 'left-arrow',class:'left-arrow' %}</li>
    <li class="next">{% render 'left-arrow',class:'right-arrow' %}</li>
  </ul>
</div>
{%endcomment%}
{% for block in section.blocks %}
    
      

  {% render 'image-src',src_name:block.settings.slideshow_image,src_alt:block.settings.slideshow_image.alt,load_blur:true %}	

      
  {% endfor %}
{%comment %}
{% for product in collections['my-collection'].products %}
<div class="my-image">
<img src={{ product | img_url }} />
  <p>product name:{{product.title}}</p>
</div>
{% endfor %}
{% endcomment %}

{% schema %}
 {
    "name": "image slider",
    "max_blocks": 10,
   
     "blocks" : [
      {
        "type": "brand",
        "name": "image slider",
        "settings": [
      {
        "type": "header",
        "content": "Add images"
      },
      {
        "type": "image_picker",
        "id": "slideshow_image",
        "label": " Select image"
      },
       {
        "type": "text",
        "id": "image_text",
        "label": "Enter text on image"
      }
	  ]
 	 }
	],
      "presets": [	
    {
      "name": "New slideshow",
      "category": "New slideshow"
    }
  ]
 }
{% endschema %}



