{% case section.settings.grid %}
  {% when 2 %}
    {%- assign grid_item_width = 'grid-two' -%}
  {% when 3 %}
    {%- assign grid_item_width = 'grid-three' -%}
  {% when 4 %}
    {%- assign grid_item_width = 'grid-four' -%}
  {% when 5 %}
    {%- assign grid_item_width = 'grid-five' -%}
{% endcase %}
<div class="{{grid_item_width}}">
  {% for block in section.blocks%}

    {% assign collection =collections[block.settings.collection]%}

    {% for product in collection.products%}
      <div class="myproduct">


       
        <img src="{{ product.media.src | product_img_url: 'medium' }}">
   
        <div class="myproduct-detail">
          <h3>
            <a href="{{product.url | within: collection}}">
              {{product.title}}
            </a>
          </h3>
          <p>{{product.price | money}}</p>
        </div>

      </div>


    {% endfor %}
  {% endfor %}


</div>
{% schema %}
{
"name": "add image collection",
"settings":[
{
"type":"text",
"label":"Title",
"id":"title"
},
{
"type":"range",
"label":"collection per row",
"id":"grid",
"min": 2,
"max": 5,
"step": 1,
"default": 3
}


],
"blocks":[
{
"type":"collection",
"name":"image slider colection",
"settings": [
{
"label": "Add Collection",

"id": "collection",
"type": "collection"
}
]
}

]
}
{% endschema %}