<div class="welcome-popup-container" data-day="{{settings.popupId}}">
  <div class="popup-heading">
    <h1>newslatter</h1>
  </div>
  <div class="popup-content">
    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's
      standard dummy</p>

  </div>
  <div>
    {% form 'customer' %}
    {{ form.errors | default_errors }}
    {% if form.posted_successfully? %}
      <p class="success-message">{{ 'general.newsletter_form.confirmation' | t }}</p>
    {% else %}
    <div class="popup-input">
      <input type="hidden" name="contact[tags]" value="newsletter">
      <input type="email"
        name="contact[email]"
        id="Email"
        value="{% if customer.email != blank %}{{ customer.email }}{% endif %}"
        placeholder="Enter email.."
        autocorrect="off"
        autocapitalize="off">
      </div>
    {% endif %}
  {% endform %}
    
  </div>
</div>
