{% schema %}
 {
    "name": "Pre slidebar store",
    "settings": [

	],
	"blocks":
	[
      {
        "type": "store",
        "name": "Image picker store",
        "settings":
        [ 
		  {
            "type": "checkbox",
            "id": "checkboxd1",
            "label": "Desktop image blur"
          },
          {
            "type": "image_picker",
            "id": "desktop1",
            "label": "Desktop image"
          },
          {
            "type": "image_picker",
            "id": "mobile1",
            "label": "Mobile image"
          }
        ]
      }
	]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
