
<div class="parent-collection">
	<div class="collection-title">
		{{ collection.title }}
		<div class="collection-item">
          <ul>

			{% for product in collection.products %}
          		<div class="product table">
                      {% for image in product.images %}
                        <li>
                        	<div class="product-image header">
                            	<a href="{{ product.url }}">
                                  {% render 'srcset', src_name: image.src ,src_alt: image.alt %}
                                </a>
                            </div>
                        </li>  
                    {% endfor %}
					  <h1 class="product_title row">{{- product.title -}}</h1>

                      <p class="product_price row" >{{ product.price | money }}</p>
                </div>
			{% endfor %}
		  </ul>
   
		</div>
	</div>
</div>

{% schema %}
  {
    "name": "Slidebar section",
    "settings": [

          {
            "type": "collection",
            "id": "featured_collection",
            "label": "featured_collection"
          },
		  {
            "type": "product",
            "id": "id",
            "label": "product",
            "info": "featured_product"
          }

	]
  }

{% endschema %}

{% stylesheet %}


{% endstylesheet %}

{% javascript %}
{% endjavascript %}
