{% assign collectionobj = collection[section.settings.featured_collection] %}
{% for items in collectionobj %}
	{% for image in product.images %}	
		{% render "srcset", src_name: image.src, src_alt: image.alt %}

	{% endfor %}

{% endfor %}


{% schema %}
  {
    "name": "Slidebar section",
    "settings": [

          {
            "type": "collection",
            "id": "featured_collection",
            "label": "featured_collection"
          },
		  {
            "type": "product",
            "id": "id",
            "label": "product",
            "info": "featured_product"
          }

	]
  }

{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
