
<div class="simply-grid-wrapper">
  <div class="product-slider-wrapper slider-for">
    {% assign collection =collections[settings.collection]%}
    {% for product in collection.products%}
    <div class="product">
      <img src="{{product | img_url: 'medium'}}" alt="product-slider" />
      <div class="product-detail">
        <div class="product-heading">
          <h1> 
              {{product.title}}
          </h1>
        </div>
        <div class="product-discription">
          {{product.description}}
        </div>
        <div class="product-prixe">
          <p>MRP. {{product.price | money}}</p>
        </div>
        <div class="add-to">
          <form class="myform">
            <input name="variant_id" value="{{ product.variants.first.id }}" type="hidden" />
            <input name="add" value="ORDER NOW" type="submit" class="add-to-cart-button" />
          </form>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
  <div class="cart-side-bar">
    
    <div class="side-bar-header-warpper">
      <div class="side-bar-header">
        <h2>Your cart</h2>
        <span class="cancle">X</span>
      </div>
      <div class="side-bar-body">
        <div class="cart-product-image">
          <img src="https://homepages.cae.wisc.edu/~ece533/images/airplane.png" alt="product-image"/>
        </div>
        <div class="cart-product-quality">
          <p>Quantity</p>
        	<span class="minus">-</span>
	<input type="text" value="1" class="quality"/>
	<span class="plus">+</span>
        </div>
        <div class="cart-product-detail">
          <div class="cart-title">
            <p>ptodyct-name</p>
       </div>
          <div class="cart-product-price">
                <p>123</p>
          </div>
          
        </div>
      </div>
    </div>

  </div>
</div>