<!-- overlay -->


<!-- button link  -->
{%- if block.settings.button_label != blank and block.settings.button_link != blank -%}
	{%- assign show_link_button = true -%}
{%- endif -%}

{%- if show_link_button -%}

	<div class="slideshow__btn-wrapper{% if block.settings.slide_title != blank or block.settings.subheading != blank %} slideshow__btn-wrapper--push{% endif %}">

<br><br>      	<a href="{{ block.settings.button_link }}" >
        	{{ block.settings.button_label | escape }}
    	</a>
	</div>

{%- endif -%}

<!-- autorotate -->
<!-- {{ section.settings.slider_autorotate_rate | times: 1000 }} -->

{%- if block.settings.cb_autorotate -%}



{%- endif -%}
<!-- Alignment -->


<!-- normal slideshow -->


<div id="slidebar-{{ section-id }}" class="shopify-section"  
     	   data-autorotate="{{ section.settings.autorotate }}"
           data-speed="{{ section.settings.autorotate_speed | times: 1000 }}">
  <h1 class="test">{{ text_horizontal_alignment }}</h1>
    <div class="single-item desktop-image" 
         data-align-vertical="{{ text_horizontal_alignment }}" data-align="{{ text_vertical_alignment }}" data-id="{{ section.settings.cb_autorotate }}" data-speed="{{ section.settings.rotation_speed | times: 1000 }}">
        {% for block in section.blocks %}
        <div class="desktop-slider">
            {% render 'srcset', src_name: block.settings.desktop1 , src_alt: 'sliders' %}
        </div>
        {% endfor%}
    </div>
      {% if section.blocks.size > 0 %}

    <div class="single-item mobile-image" data-id="{{ section.settings.cb_autorotate }}" data-speed="{{ section.settings.rotation_speed | times: 1000 }}">      

      {% for block in section.blocks %}

        <div class="mobile_slider 
        {% if section.settings.overlay %}
            {%- assign img_overlay = "overlay" -%}
        {% else %}
            {%- assign img_overlay = "no-overlay" -%}

        {% endif %}
        {{ img_overlay }}">
      {% if block.settings.mobile1 != blank %}

          {% render 'srcset', src_name: block.settings.mobile1, src_alt: 'sliders' %}
          	{% endif %}
            {%- assign text_alignments = block.settings.position | split: ' ' -%}
            {%- assign text_horizontal_alignment = text_alignments.first -%}
            {%- assign text_vertical_alignment = text_alignments.last | strip -%}

              {% if block.settings.heading != blank %}

                  <div class="heading {{ text_horizontal_alignment }} {{ text_vertical_alignment }}"> 
                      <h1 style="color: {{ section.settings.text_color }}"> {{ block.settings.heading }}</h1>
                      <p style="color: {{ section.settings.text_color }}"> {{ block.settings.sub-heading }}</p>
                        <br><br>
                      {% if block.settings.btn_text != blank and block.settings.btn_link != blank %}
                          <a class="homePageSliderButton" style="color: {{ section.settings.btn_color }}; background-color:{{ section.settings.btn_back }};" href="{{ block.settings.btn_link }}" >{{ block.settings.btn_text }}
                    	  </a>
                      {% endif %}
                  </div>

          	{% endif %}
        </div>

        {% endfor%}

    </div>
  {% else %}
  <h1><span style="color: orange"> Caution! </span>No Images are selected for slider.</h1>
  
      {% endif %} 

</div>

<!--  -->

<!--  -->
{% schema %}
  {
    "name": "Slidebar section",
    "settings": [
 		 {
            "type": "checkbox",
            "id": "overlay",
            "label": "Show Overlay",
			"default": true
          },
		  {
            "type": "checkbox",
            "id": "cb_autorotate",
            "label": "Auto rotate between slides",
			"default": true
          },
          {
              "type": "range",
              "id": "rotation_speed",
			  "info": "Works only if auto rotate is enabled.",
              "min": 1,
              "max": 15,
              "step": 1,
              "unit": "sec",
              "label": "rotation speed",
              "default": 3
          },
          {
             "type": "color",
             "id": "text_color",
             "label": "Text",
             "default": "#ffffff"
          },
          {
             "type": "color",
             "id": "btn_color",
             "label": "Button text color",
             "default": "#000"
          },
          {
             "type": "color",
             "id": "btn_back",
             "label": "Button background",
             "default": "transparent"
          },
          {
            "type": "collection",
            "id": "featured_collection",
            "label": "featured_collection"
          },
		  {
            "type": "product",
            "id": "id",
            "label": "product",
            "info": "featured_product"
          }

	],
	"blocks":
	[
      {
        "type": "store",
        "name": "Image picker tore",
        "settings":
        [ 
		  {
            "type": "checkbox",
            "id": "checkbox_d1",
            "label": "Desktop_image_blur",
			"default": true
          },
          {
            "type": "image_picker",
            "id": "desktop1",
            "label": "Desktop_image"
          },
          {
            "type": "image_picker",
            "id": "mobile1",
            "label": "Mobile_image",
			"info": "750 x 1100px and .jpg recommended. If none is set. Desktop images will be cropped."
          },
          {
             "type": "select",
             "id": "position",
		     "default": "center center",
             "options": [
                { "value": "right top", 	"label": "Top Right"},
                { "value": "center top", 	"label": "Top Middel"},
                { "value": "left top", 		"label": "Top Left"},
                { "value": "v-middle left", "label": "center left"},
                { "value": "center center", "label": "center middel"},
                { "value": "v-middle right","label": "center right"},
				{ "value": "center bottom", "label": "Bottom center"},
                { "value": "right bottom", 	"label": "Bottom right"},
                { "value": "left bottom", 	"label": "Bottom left"}
             ],
             "label": "Vertical alignment"
          },
          {
             "type": "text",
             "id": "sub-heading",
             "label": "Sub-heading"
          },
          {
             "type": "text",
             "id": "heading",
             "label": "Heading"
          },
          {
             "type": "text",
             "id": "btn_text",
             "label": "button text"
          },
          {
             "type": "url",
             "id": "btn_link",
             "label": "btn_link"
          }

        ]
		
      },
		
		{
            "type": "video",
            "name": "Video picker",
            "settings": [
				{
                  
                    "id": "video_url",
                    "type": "video_url",
                    "label": "Video URL",
                    "accept": ["youtube", "vimeo"],
                    "default": "https://www.youtube.com/watch?v=_9VUPq3SxOc",
                    "info": "text",
                    "placeholder": "text"
                  
                }
            ]
		}
],
	"presets":
    [
      {
		"category": "Store information",
		"name": "Store"
      }
    ]
  }
{% endschema %}

{% stylesheet %}
	@media only screen and (max-width: 767px) {
    .mobile-image{
      display: none;
    }
 }
	@media only screen and (min-width: 767px) {
    .desktop-image {
      display: none;
    }
  }
{% endstylesheet %}