{% assign sizes = '240,480,765,900,1000,1200,1500,1900' | split: "," %}
<img alt="{{src_alt}}" src="{{- src_name | img_url: '1x' }}" data-srcset="{%- for size in sizes -%}
            {%- assign size_x = size| append : 'x' -%}
            {{- src_name | img_url: size_x | format:'pjpg' }} {{size | append:'w' -}},
            {%- endfor -%}"  class='lazyload blur-up'  />