
<div class="product">

    <img src="{{product | img_url: 'medium'}}" alt={{product.title}} />
    <div class="product-detail">
      <div class="product-heading">
        <p> 
            {{product.title}}
        </p>
      </div>
      <div class="product-discription">
        {{product.description}}
      </div>
      <div class="product-prixe">
        <p>MRP. {{product.price | money}}</p>
      </div>
      <div class="add-to">
        <div class="myform">
          <input name="variant_id" value="{{ product.variants.first.id }}" type="hidden" />
          <input name="add" value="ORDER NOW" type="submit" class="add-to-cart-button" />
        </div>
      </div>
    </div>
  </div>