<div class="cart-side-bar">
      
    <div class="side-bar-header-warpper">
      <div class="side-bar-header">
        <h3>Your cart</h3>
        <span class="cancle">X</span>
      </div>
      <form class="cart-input-quantity">
      
    </form>
   </div>
  </div>